[2015-03-03 14:11] usefulthink opened #6 "investigate problem with short typed-arrays"
quoting from #5:

[2015-03-03 14:12] achingbrain commented on #6
To reproduce:

[code]

Console output:

[code]

[2015-03-03 14:31] usefulthink commented on #6
doesn't happen in `node-0.10.33`. Which version are you running?

A guess would be that V8 stores the data for very small typed-arrays inline (so it doesn't have any external array attached). Question would be how to check for this case.

[2015-03-03 15:12] achingbrain commented on #6
I'm running io.js 1.4.2.  I see the same behaviour on the pi with node 0.12.0 but not 0.10.36.

[2015-03-03 15:17] usefulthink commented on #6
OK. I will habe a look at v8, there probably is a better way to check for typed-arrays and get a pointer to the underlying array.

[2015-03-31 17:27] usefulthink opened #11 "build instructions and verification for RPi2"
Apparently, there is an updated version of the rpi_ws281x-library which also supports the RPi2 here: https://github.com/richardghirst/rpi_ws281x

In order to support the RPi2 in this module we need to do the following:
 - [ ] test if that new version also works with the RPi1.
 - [ ] update the module to use the new version.

Unfortunately, I don't own a RPi2, so I need someone else to test this.

[2015-04-01 15:11] gavspav commented on #11
Once I installed nan via npm I built the original version.
I've edited .git modules but I'm now stuck on 'git submodule update --remote --force' Doesn't seem to work. The pi spits out usage rules for git submodule update. Remote and force don't seem to be amongst the options. Maybe I need to update?

[2015-04-01 15:22] usefulthink commented on #11
hm, yes. There were some changes to how git handles submodules in recent versions.
You can try to update it manually, by changing into the submodule, update the remote and pull from the new master-branch. So, something like

[code]

[2015-04-01 15:33] gavspav commented on #11
Hmm - a load of stuff I don't really understand:

gyp info spawn args   '-Goutput_dir=.' ]
Traceback (most recent call last):
  File "/usr/local/lib/node_modules/node-gyp/gyp/gyp_main.py", line 18, in <module>
    sys.exit(gyp.script_main())
  File "/usr/local/lib/node_modules/node-gyp/gyp/pylib/gyp/__init__.py", line 534, in script_main
    return main(sys.argv[1:])
  File "/usr/local/lib/node_mo

[2015-04-01 15:48] usefulthink commented on #11
that sounds like something is wrong with the `binding.gyp`-file.

[2015-04-01 15:56] gavspav commented on #11
I thought that too but I couldn't see anything.Tried again and I used sublime text instead of textedit. Now I get this:

../src/rpi_ws281x/ws2811.c: In function ‘ws2811_init’:
../src/rpi_ws281x/ws2811.c:473:5: warning: comparison of unsigned expression < 0 is always false [-Wtype-limits]
../src/rpi_ws281x/ws2811.c:478:23: warning: comparison between signed and unsigned integer expressions [-Wsign-

[2015-04-01 16:01] usefulthink commented on #11
ah, alright. Then you were probably having errors with line-endings (`\n` vs. `\r\n`),
the warnings are kinda ok, the main error-message is a bit hard to spot:

which pretty much looks like a typo (otherwise i'd have no idea where `malbox.o` should be coming from.

[2015-04-01 16:06] gavspav commented on #11
God I'm such a twat - sorry! and thanks for sticking with me.
I'll just edit the .js function and report back.
What does 'Finally: Send a PR.' mean?

[2015-04-01 16:16] usefulthink commented on #11
a pull-request, so i can integrate your work into this repository (see here https://guides.github.com/introduction/flow/).

[2015-04-01 16:19] gavspav commented on #11
Well index.js runs ok but rainbow.js in the examples throws:

Failed to create mailbox device /tmp/mailbox-9651: Operation not permitted
Failed to create mailbox device /tmp/mailbox-9651: Operation not permitted
Failed to create mailbox device /tmp/mailbox-9651: Operation not permitted
/home/pi/node_interface/node-rpi-ws281x-native/lib/ws281x-native.js:94
    ws281xNative.init(numLeds, options);

[2015-04-01 16:29] gavspav commented on #11
Ah ok I need arguments don't I?

[2015-04-01 16:39] usefulthink commented on #11
ah, yes. You definitely need to run the script as root, otherwise you don't have access to the memory-mapped I/O.

There currently is a bug with newer node/iojs-versions and I'm working on a fix (see #6). The single argument for the rainbow.js is the number of LEDs, which has to be at least 16 (if you have fewer LEDs that doesn't matter). So calling `node examples/rainbow.js 20` should at least no

[2015-04-01 16:56] gavspav commented on #11
Yeah - give us half an hour an I'll work out how to do a Pull Request!
Then I'll try and connect the lights!

[2015-04-01 17:11] gavspav commented on #11
I think I've done the Pull Request!
No idea if the forked library works with the original Pi though.
The .js function checks for BCM2708 or 9 so if it doesn't work with the
original it will be a bit misleading.
And in any case there is probably a better way of doing the 8 or 9 thing.
Thanks for walking me through it all - gonna try and connect the lights
next.
Gavin

On Wed, Apr 1, 2015 at 6:02 PM

[2015-04-01 17:25] usefulthink commented on #11
Ok, I'll try that with the old Pi later today and see if it works.

The Pull-Request looks good. Can you report back when you get the lights working?

[2015-04-01 18:02] gavspav commented on #11
Yup Lights working here.

[2015-04-02 10:07] usefulthink commented on #11
ok, i think i found a working solution to have full interoperability with both RPi 1 and 2 models. Can be found in #13. I will do some tests later today and update the npm-package.

@gavspav it would be great if you could test if everything works on the RPi2 when the new Version is on npm.

[2015-04-02 12:52] gavspav commented on #11
Yeah for sure. Give me shout when you've done it.

On Thu, Apr 2, 2015 at 11:07 AM, Martin Schuhfuss <notifications@github.com>
wrote:

--
Gavin
www.digitalfunfair.co.uk

[2015-04-02 17:37] usefulthink commented on #11
ok, i just published the new 0.3-version, which works on both the old and (in theory) the new raspberry. @gavspav Can you please run the test to see if it works for you?

So if you run `npm install rpi-ws281x-native` in an empty directory, the example should work using `node node_modules/rpi-ws281x-native/examples/rainbow.js 20`.

[2015-04-02 20:54] gavspav commented on #11
Hmm the Pi is at my Studio and I'm going away for a couple of days so won't
be able to test until Saturday or Sunday.
Sorry
G

On Thu, Apr 2, 2015 at 6:37 PM, Martin Schuhfuss <notifications@github.com>
wrote:

--
Gavin
www.digitalfunfair.co.uk

[2015-04-04 22:34] stefancarlton commented on #11
Hi,

I'm running a Pi2 and checked this code out - it works albeit I had to make the quick-fix found in PR #14.

Thanks for your work @gavspav and @usefulthink :)

[2015-04-05 17:40] usefulthink commented on #11
thank you very much. I guess this can be closed now :)

[2015-04-05 17:40] #11 closed

[2015-04-05 17:42] usefulthink commented on #6
with the changes from #15 this should be resolved now (v0.4.0 on npm)

[2015-04-05 17:42] #6 closed

[2015-04-15 12:54] gavspav opened #16 "Conflict with Pure Data"
I'm trying to run the library in conjunction with Pd-extended (https://puredata.info) on the RPI 2.

When I open Pure Data on the Pi the rainbow.js patch stops working properly.

If I close it and start it again I get some leds flickering, seemingly randomly.

Closing Pure Data does not solve this. I have to restart the Pi before the rainbow patch will run properly.

I have tried assigning each pr

[2015-04-15 13:19] usefulthink commented on #16
I haven't heard of puredata yet, but from a quick glance at it's sourcecode it looks like a known Problem: somehow (I haven't dug into the exact reasons yet) the RPi internal "soundcard" uses the same GPIO / DMA / PWM functions that are needed to run the LED-drivers.
So from what I know you can not use both at the same time.

I heard of some possible solutions (but, as i don't do any audio haven't

[2015-04-15 14:45] gavspav commented on #16
Thanks - yes that looks like the culprit as disabling the internal
soundcard works.

I'm looking for a workaround - I'll post it here if and when I find one.

On Wed, Apr 15, 2015 at 2:19 PM, Martin Schuhfuss <notifications@github.com>
wrote:

--
Gavin
www.digitalfunfair.co.uk

[2015-04-15 14:59] gavspav commented on #16
I have an external soundcard so I tried commenting out the sound module in /etc/modules but this seemed to disable all alsa devices.
So I edited /etc/modprobe.d/alsa-base.conf to allow my external soundcard to be the first device.
This seems to work for me - sound and lights!

[2015-04-15 16:02] usefulthink commented on #16
we should probably update the README to contain this as a known issue.

[2015-04-15 17:00] usefulthink commented on #16
otherwise, awesome - great to know that this actually works. Would you mind writing a few lines for the README?

[2015-04-15 17:02] gavspav commented on #16
Yeah for sure. I'll do it tonight.
On 15 Apr 2015 18:00, "Martin Schuhfuss" <notifications@github.com> wrote:

[2015-05-07 13:56] menkveldj opened #18 "Pin 13 on Rpi b+ and a+ broken"
Hi

It looks like the library is having trouble initializing the new PWM Pin 13 on the a+ and b+.

Im working on a project that would utilizes both 18 and 13. Perhaps this is an easy fix?

Thanks

[2015-05-09 14:55] usefulthink commented on #18
currently this module only supports the PWM0 on GPIO18, but the underlying library already supports both PWM-controllers (see here: https://github.com/jgarff/rpi_ws281x/issues/30). I will probably have some time to experiment with this in the next weeks, but currently it doesn't look like there is a dead easy fix for this. We would at least need to make it possible to use multiple channels from th

[2015-05-09 21:32] menkveldj commented on #18
Cool thanks for the update. Look forward to seeing what you come up with.
On May 9, 2015 10:55 AM, "Martin Schuhfuss" <notifications@github.com>
wrote:

[2015-05-10 18:29] akbsteam opened #19 "Root required"
Hi,

Seems to require running with sudo e.g.:

    sudo node node_modules/rpi-ws281x-native/examples/rainbow.js 190

How can I run it as my normal user - gpio-admin or something similar (didn't seem to work for me)

[2015-05-11 09:16] usefulthink commented on #19
Actually, i haven't yet bothered to find out and I currently have no raspberry here to test.

As far as I know, the only thing in the driver that requires elevated privileges is access to the physical memory via `/dev/mem`, so you could try to allow access to that device-file for another user.

[2015-05-11 23:31] usefulthink commented on #19
I now did have a look at it and unfortunately it will not really be possible to run this module without root-privileges, there is [an answer on stackoverflow](http://stackoverflow.com/a/22370947/123219) that goes into some details as to why it is a bad idea to allow anyone than root access to `/dev/mem` (and even if you change permissions on that device-file anyway, it still won't work - physical

[2015-05-11 23:32] #19 closed

[2015-05-11 23:38] usefulthink opened #20 "Implement "am i root"-check, update README to mention root-requirements"
(see #19)

 - [x] Implement a check for UID 0 somewhere when loading the module and exit with a proper error-message.
 - [x] Update the README to contain some words about why the module requires root-access and how the LED-driver could be split out into a seperate process using something like a LED-driver deamon and https://github.com/raspberry-node/node-openpixelcontrol

[2015-05-12 08:29] usefulthink commented on #19
Another update: It seems that you can disable the mmap-protection if you compile the kernel yourself.

http://stackoverflow.com/questions/11891979/accessing-mmaped-dev-mem
http://lwn.net/Articles/267427/

[2015-05-14 11:37] gavspav opened #21 "Autorun script"
Not an issue with the library but I'm struggling to run my script automatically on boot.

Perhaps it would be useful for people if anyone could help me nail it!

I currently have sudo node /myscript.js & in a script which gets executed via rc.local.

The script won't run - I'm guessing its something to do with permissions.

[2015-05-14 12:48] Zefiro commented on #21
It also might have something to do with $path being initialized differently when run from rc.local
I'd suggest using full path names.

Myself, I'm using this setup:

added to end of **/etc/rc.local**

**/home/zefiro/bin/start_screen.sh** (which is chmod u+x)

I also set it such that when I log in, I'm directly put into this screen. Much easier for debugging (seing the console output).

[2015-05-24 20:45] gavspav opened #22 "Best way to change to rgb output?"
This is from an email but it would be better on here.

Ages ago I dug deep into the library and swapped the r and the g of the rgb around so that it would render correctly on my grb led's!

Now I'm using a different installation and can't remember how the hell I did it! I think that proves I am degenerating. Any idea where to look? You might have even told me in the first place!

I'm sure I'll fin

[2015-05-24 20:47] gavspav commented on #22
Hmm ok. Is that not quite a costly operation though going through the whole array every frame?

Do you think it's worth the effort trying it at a lower level?

[2015-05-25 10:47] usefulthink commented on #22
Regarding performance: for typed arrays and a constant access-pattern (read int, modify, write back, no type coercions etc.) v8 is able to optimize this a lot. And it's still just a loop over each LED (which would very rarely exceed 500 or so), so i guess that should be manageable performance-wise.

I would like to see changes like these in the underlying library, where all that bit-shifting into

[2015-05-27 23:32] usefulthink commented on #20
fixed in #26

[2015-05-27 23:32] #20 closed

[2015-05-27 23:38] usefulthink commented on #22
I just removed the original version of the library (see #23) as i noticed that the newer version by richardghirst also supports the first generation raspberries.

So implementing something like different LED-types should be based on that version of the lirbary.

[2015-05-27 23:48] usefulthink commented on #21
You should have a look at pm2, which can do a lot of things (like monitoring your script, restart if it crashes, etc) and can also install the necessary files to run on system startup.

https://github.com/Unitech/PM2
https://www.digitalocean.com/community/tutorials/how-to-use-pm2-to-setup-a-node-js-production-environment-on-an-ubuntu-vps

[2015-06-01 10:15] usefulthink commented on #18
Quick update: I have just ordered a rpi2, so i will be able to test how everything works with the second PWM and the corresponding GPIO.

[2015-06-10 19:30] #21 closed

[2015-06-18 18:36] mrminecart opened #27 "Cannot build on RPi B+"
When executing the build command with the verbose option

[code]

System:
[code]

[2015-06-19 12:52] usefulthink commented on #27
First of all, I dropped support for node <=0.12 a while ago. I'd recommend upgrading to node-0.12, but otherwise you can stick to the v0.3.0-version of this module which is the last that had support for the node-0.10-branch.

I tried to reproduce your problem, and I get the very same error-message when the git submodules are not properly intialized.
Can you please check if the submodules are initi

[2015-06-19 16:32] usefulthink opened #28 "gamma-correction should not modify the data-array."

[2015-06-21 11:50] mrminecart commented on #27
Ah okay,

Managed to build with node 0.12.4

[2015-06-21 11:50] mrminecart commented on #27
Thanks

[2015-06-22 08:09] #27 closed

[2015-06-25 12:52] usefulthink opened #29 "TODO for v1.0"
## node-module and native parts
- [x] support for multiple PWM channels (issue: #18)
- [ ] support for different binary-formats (i.e. `CanvasPixelData`, `Uint8Array` and `Uint32Array`, `Buffer`/`ArrayBuffer`)
- [x] a tiny bit more abstraction: the public api should be fully implemented in Javascript, so the underlying native-implementation is able to move without breaking BC
- [ ] generic implemen

[2015-07-08 12:11] kunaakos opened #30 "Gamma correction done twice if source map is set"
I think [this line](https://github.com/raspberry-node/node-rpi-ws281x-native/blob/master/lib/ws281x-native.js#L100) should be:
[code]
Gamma correction is done in render()

[2015-07-09 10:15] usefulthink commented on #30
duplicate of #28

[2015-07-09 10:15] #28 closed

[2015-07-09 10:21] usefulthink commented on #30
the problem is, the gamma-correction is applied to the data-array that is most likely reused for rendering the next frame. Thus, if you don't write the whole data-array on every frame the initially set colors will fade to black over time (because the correction is applied over and over again).

[2015-08-05 04:32] tsuckow opened #32 "init(num_pixels) never returns"
I had been using the December 8th version just fine. Now after putting it on a new pi and ending up with the latest node and this library, init() never returns.

[2015-08-05 04:52] tsuckow commented on #32
It is making it to ws2811_init, but that never returns. Which is interesting since the test executable in the submodule works.

[2015-08-05 05:25] tsuckow commented on #32
The bug is in the submodule, sorry for the noise
Fix: https://github.com/allgoewer/rpi_ws281x/commit/46c8a4c1218ce999bb6371b2a20edce2c6a0bfee

[2015-08-05 05:25] #32 closed

[2015-08-05 09:20] usefulthink commented on #32
thank you for pointing that out, i will see to it that i get the referenced commit merged into the version of the submodule we're using here.

[2015-08-05 09:24] usefulthink opened #33 "update rpi_ws281x to fix problems with GCC5.1"
As mentioned in #32, we should update the rpi_ws281x-library to incorporate the fix from allgoewer/rpi_ws281x@46c8a4c

(Thanks to @tsuckow for finding this)

[2015-08-05 09:27] usefulthink opened #34 "use https-urls for submodules"
We should be using https-urls for referenced submodules as @tsuckow pointed out [here][commitcoment] to prevent problems with installing on systems without proper ssh-keys for github.

[commitcoment]: https://github.com/raspberry-node/node-rpi-ws281x-native/commit/9b4d1458971e01899860a796730c38be5b06564d#commitcomment-12532317

[2015-08-07 09:26] usefulthink commented on #33
I have now updated our fork of  rpi_ws281x-repository here: https://github.com/raspberry-node/rpi_ws281x - will run some tests on my raspberries and switch the submodules to that repository for the next version.

[2015-08-09 20:24] tsuckow commented on #30
I don't think render should be doing any of this stuff or at the very least there should be a "renderRaw" method that doesn't do any of these transformations.

If you do wish to do this, you should have your own buffer that is created at init time and used as the scratch space.

[2015-08-10 09:39] usefulthink commented on #30
I agree. Wasn't the best Idea to have this in the core. Will be removed in the next version.

[2015-09-22 12:00] gavspav opened #35 "Error when trying to run rainbow.js"
Just trying to get some lights working on an image from https://ccrma.stanford.edu/~eberdahl/Satellite/ .It is basically raspbian as I understand it.

I've installed node.js - when I run the rainbow patch I get the following error (below).

No idea if this is an issue with the library - probably not - but any idea whats going on?

ccrma@satellite ~/node_modules/rpi-ws281x-native/examples $ sudo no

[2015-09-22 12:18] usefulthink commented on #35
hmmm. That looks like you hit this issue: https://github.com/raspberry-node/rpi_ws281x/issues/2

Do you see a device-file named `/dev/vcio` on the raspberry?
Also, you could check if the kernel-version (get it with `uname -r`) is above 4.1.6. In that case this is exactly the issue and we need to patch the rpi_ws281x-module to make it work.

Unfortunately I won't find time for this until next week.

[2015-09-22 12:24] gavspav commented on #35
Hmm the kernel is reported as 3.18.11-v7+

I do have /dev/vcio yes.

I'm up for trying to fix it if you (and search engines) can guide me, yes!

On Tue, Sep 22, 2015 at 1:18 PM, Martin Schuhfuss <notifications@github.com>
wrote:

--
Gavin
www.digitalfunfair.co.uk

[2015-09-22 12:38] gavspav commented on #35
Opening /dev/vcio in nano, it looks empty.

Also I installed the module from npm - is that the latest version? I noticed only the rainbow.js  script is in the example folder and not the new script you added.

Just wondering if there was anything important missing?

[2015-09-22 18:19] usefulthink commented on #35
the last published version on npm is quite old as i saw yesterday... you should definitely install it via git.

I just updated the master-branch once again to reflect the latest changes to the module (this includes our own fork of rpi_ws281x-module so we can just integrate the fix proposed in pimoroni/unicorn-hat@5c03f81).

Check it out using `git clone --recursive git@github.com:beyondscreen/node

[2015-09-22 18:49] gavspav commented on #35
I tried to clone it earlier but it asked me for a isa_rsa.pub key or something.
Hopefully I just need to generate an ssh key.
I'll try it in a bit

[2015-09-22 18:55] usefulthink commented on #35
Yes, exactly. You need to create an ssh-key and store the public-part (usually id_rsa.pub) in your guthub-account. Then you should be able to clone the repository using the git@github.com URL.

[2015-09-23 21:15] gavspav commented on #35
Think I'm doing something wrong! I've got to the node-gyp rebuild stage but I'm getting the errors below.
The rpi-ws281x folder is in a folder called node_modules - does this matter? And I haven't tried to patch in the unicorn workaround yet!

module.js:338
    throw err;
          ^
Error: Cannot find module 'nan'
    at Function.Module._resolveFilename (module.js:336:15)
    at Function.Module._

[2015-09-23 21:37] gavspav commented on #35
I've patched the mailbox.c file now but can't work out how to get the node-gyp rebuild to work!

Ah ok I've installed the nan package via npm and now it's working.

Running rainbow.js seems to be working - I've got no lights here - I'll have to try it tomorrow.

I've got a feeling a might have blown the output pin on the Pi when hotplugging the other day (it shutdown instantly) so not sure I'm goi

[2015-09-24 21:09] gavspav commented on #35
I can confirm it works. I've made a pull request with the new version of mailbox c. Will it still work with older kernels though? Maybe not. So it might need a bit of either/or code?

Thanks for your help!

[2015-09-25 11:04] usefulthink commented on #35
Thank you so much for this <3

I have both a raspberry-pi 1 and 2 with older kernel-versions here and will test the changes soon. But from what I saw it will fall back to the older mailbox-device mode that works on older versions. Expect a new release to npm next week.

[2015-10-01 17:56] SteveEdson commented on #19
I believe the latest version of raspbian allows sudo-less access to the GPIO pins, would this solve the issue?

[2015-10-02 14:28] usefulthink commented on #19
unfortunately it's not just access to the GPIO-Pins, but access to the raw physical memory that is the problem here. I haven't yet found a way to configure the DMA and PWM modules of the Pi's CPU without going through the `/dev/mem` device, which is what we need root-access for.

[2015-10-03 13:38] #33 closed

[2015-10-03 13:40] usefulthink commented on #35
Soo, I finally managed to publish a new version containing the fix you made. You should now be able to use the version v0.5.0 from npm.

So, thanks again for helping me with this!

[2015-10-03 13:40] #35 closed

[2015-11-24 13:36] Guuz opened #39 "Example uses index mapping."
Hello,

One of the examples isn't working for me because it's using a mapping:
https://github.com/beyondscreen/node-rpi-ws281x-native/blob/master/examples/iterate.js#L8

Especially for this example it's nice to have no mapping. That way you can see how your strips are connected (if you have multiple strips). And mappings are always specific for every user/implementation so maybe it's a good idea t

[2015-11-24 13:50] usefulthink commented on #39
Oh, yes. That was the intention behind this example, no idea how that change slipped in there. PR would be great, thanks :)

[2015-11-24 14:05] #39 closed

[2015-11-24 18:50] Guuz opened #42 "Throw error and/or return mock."
Hello,

I'm using this module in my app and stumbled upon the following.
During development I don't want to run as root (why should i?) and I cant really use this module anyway because it only works on a Pi.
The code [here](https://github.com/beyondscreen/node-rpi-ws281x-native/blob/master/lib/ws281x-native.js#L4) logs to `strerr` and exits the process. This is not very friendly for a consumer.

I

[2015-11-25 18:23] usefulthink commented on #42
I like that Idea. I never ran into such a situation myself, but it makes complete sense to be a bit more friendly about that :) I would suggest to move the root-verification into the `getNativeBindings`-function, similar to what is happening with the raspberry-detection.

[2015-11-26 08:09] Guuz commented on #42
`getNativeBindings()` makes sense yes! I think it's very bad for a 3th party lib to call process.exit().

[2015-11-26 10:00] usefulthink commented on #42
You are right. Would be better to just throw an exception or handle it gracefully (like it is currently done for non-pi architectures). The consuming library will then either have to catch and handle it or will die anyway with an uncaught exception. Would be great of you could create a PR for this if you find the time.

[2015-11-26 16:43] Guuz commented on #42
I'm on it!

[2015-11-26 19:22] Guuz commented on #42
@usefulthink I changed the implementation a bit compared to what we talked about here. But i think it's better this way. I hope you agree! If not I'm happy to change it.

[2015-11-27 01:07] #42 closed

[2015-11-27 01:14] #34 closed

[2015-11-27 01:16] usefulthink commented on #30
With the rewrite of the native part for version 0.6 this is now working properly, as the data passed by the application is not modified anymore.

[2015-11-27 01:16] #30 closed

[2015-12-03 02:06] dlopuch commented on #16
Hi!  Came across this library from http://hackaday.com/2015/12/02/the-led-roundsystem

It seems the sound conflict comes from using rpi_ws281x, which uses the rpi's PWM to generate signal timing for the LEDs.  An alternative could be to use SPI.  I've [used SPI in node to drive some LPD8806's](https://github.com/dlopuch/glow-ops/blob/master/lib/controllers/lightstrip.js) in a weekend hack once.

A

[2015-12-03 10:38] usefulthink commented on #16
Hi @dlopuch, thank you very much for your reply and this great Idea!
I like how simple it actually is to drive these LPD8806-LEDs.
If you are interested, we could consider to add support for these lightstrips into this library.

However, that SPI works for driving those LEDs is mainly because they are using a serial protocol with seperate clock and data-lines. This is not the case for the ws281x-L

[2016-01-23 06:37] evanlitw opened #45 "supprot for Openwrt?"
Is it supprot for Openwrt?
Thanks

[2016-01-23 12:28] usefulthink commented on #45
As @jgarff already pointed out (jgarff/rpi_ws281x#57), it won't work on anything but the raspberry-pi. Apart from that, I see no reason why it shouldn't also work with openwrt, although I'm not sure if you have a build toolchain running in openWRT. This is required as this module will compile the libraries on install.

Have you tried running `npm install rpi-ws281x-native`? What is the output?

[2016-01-23 17:32] evanlitw commented on #45
Yes. but have more error

gyp WARN install got an error, rolling back install
gyp ERR! configure error
gyp ERR! stack Error: unexpected eof
gyp ERR! stack     at decorate (/usr/lib/node_modules/node-gyp/node_modules/fstream/lib/abstract.js:67:36)
gyp ERR! stack     at Extract.Abstract.error (/usr/lib/node_modules/node-gyp/node_modules/fstream/lib/abstract.js:61:12)
gyp ERR! stack     at Extract._s

[2016-01-24 17:56] usefulthink commented on #45
well, that just says that the compilation of the native module fails for some reason.
From that output I can't see what exactly is going wrong, but it could be that openWRT doesn't come with the required build-environment to compile the module. Can you maybe attach the `npm-debug.log` (simply put it into a gist) as noted in the last line?

[2016-01-25 00:27] evanlitw commented on #45
Thank you for your response.
I have solved the problem.
However, in Linkit 7688 the use of some of the problems.
I think the issue should be the GPIO.
is it?

[2016-01-25 12:27] usefulthink commented on #45
I am sorry – I don't quite understand what you mean.
But I'm glad it somehow worked out. It would be great if you could write a few words on how you solved it for reference.

But it's very unlikely that this had anything to do with the GPIOs. Those are in no way involved until a program is actually started. And even then, it doesn't use any gpio-related library, but just some fixed functions of th

[2016-02-04 19:14] usefulthink commented on #29
### changes required to support multiple channels

As the client-side code does not directly call the native implementations, it should be possible to change the implementation without breaking compatibility on the client-side.

 - [`<rpi-ws281x.cc>.init()`][1]
   - accept parameters for both channels, ideally two objects where the second one is optional, moving the ledCount into the object.
   -

[2016-02-05 12:23] #45 closed

[2016-04-19 18:33] mkpazon opened #46 "I had to do a `npm install nan` for this to work"

[2016-04-19 19:48] mkpazon opened #47 "brightness setting of individual leds"

[2016-04-20 09:05] usefulthink commented on #47
Not sure what this is about as you apparently missed filling in the description text ;)

However I'm going to intepret this as a question and rephrase as "How do I set the brightness for single LEDs?", which is straightforward to explain.

Assuming you have just 3 LEDs, you will have something like this:
[code]

The color-values are in packed RGB-format (bits 0-7 for blue, 8-15 for green and 16-23

[2016-04-20 09:05] #47 closed

[2016-04-20 09:19] usefulthink commented on #46
Hm, nan is definitely in the package.json so it should install automatically, did you install from source or via `npm install rpi-ws281x-native`?

[2016-04-20 09:25] mkpazon commented on #47
Thanks for the quick response!

[2016-04-20 10:01] usefulthink commented on #46
also, the instructions missed the `npm install`-command, added that.

[2016-04-20 10:24] mkpazon commented on #46
Yeah, I think it's because of that. Hehe. Thanks!

[2016-04-21 10:40] usefulthink commented on #46
You're welcome. Feel free to open more issues if you have questions...

[2016-04-21 10:40] #46 closed

[2016-06-02 14:33] usefulthink opened #48 "consider moving native parts into mainline rpi_ws281x repository."

[2016-07-08 14:22] AdyiPool opened #49 "Soundcard conflict on RPi3"
The file mentioned in the radme wasn't found on my RPi3/Raspbian. This worked for me

Create a kernel module blacklist file that prevents all the sound drivers from loading:
1. `sudo vi /etc/modprobe.d/blacklist-rgb-matrix.conf`
2. add the following lines:

[code]
1. Save the file and quit vi
2. `sudo update-initramfs -u`
3. reboot and confirm no `snd` modules are running by executing the command

[2016-07-11 17:45] usefulthink commented on #49
Hi @AdyiPool, thanks for this report! That could be a newer raspbian-version handling this differently. Would you mind putting that information into the README and prepare a pull-request?

[2016-10-20 22:54] ben0bi commented on #29
I could not install it with nodejs v6 and I could not install nodejs v4.
For me, it works with nodejs v0.12.

Would like to mark this as todo, compatibility for nodejs >= v4
(Or is it my system? I use the RetroPie-Distro and LXDE as window manager. Multipurpose is the key.)

Regards,
ben0bi

[2016-10-20 22:54] ben0bi commented on #29
I could not install it with nodejs v6 and I could not install nodejs v4.
For me, it works with nodejs v0.12.

Would like to mark this as todo, compatibility for nodejs >= v4
(Or is it my system? I use the RetroPie-Distro and LXDE as window manager. Multipurpose is the key.)

Regards,
ben0bi

[2016-10-20 22:55] ben0bi commented on #29
I could not install it with nodejs v6 and I could not install nodejs v4.
For me, it works with nodejs v0.12.

Would like to mark this as todo, compatibility for nodejs >= v4
(Or is it my system? I use the RetroPie-Distro and LXDE as window manager. Multipurpose is the key.)

Regards,
ben0bi

[2016-10-20 22:57] usefulthink commented on #29
@ben0bi haven't touched this project in a while so it can very wel be that something got a bit outdated. Can you provide some more details about that failed installation attempt? Are there compiler-errors or something like that?

[2016-10-20 23:06] usefulthink opened #50 "installation-problems with node 6"
I could not install it with nodejs v6 and I could not install nodejs v4.
For me, it works with nodejs v0.12.

Would like to mark this as todo, compatibility for nodejs >= v4
(Or is it my system? I use the RetroPie-Distro and LXDE as window manager. Multipurpose is the key.)

[2016-10-20 23:06] usefulthink commented on #29
I moved this into a seperate issue.

[2016-10-21 00:23] cernst11 commented on #50
I've been using it in a node v6.4 project of mine for the last couple of months without issue. It's been running on an  rpi0 and the original model B. I can attempt to do a fresh pull of the dependency and have it recompile when I have time to verify.

[2016-10-21 00:24] usefulthink commented on #50
@cernst11 thanks for the heads up, that's good to know.

[2016-10-23 17:37] ben0bi commented on #50
+ It's a RasPi 2 B

+ $ curl -sL https://deb.nodesource.com/setup_6.x | sudo -E bash -
+ apt-get update / apt-get install nodejs
+ npm wsxxx....
+ "Could not be installed. Maybe your nodejs is outdated" or something like this.
+ apt-get purge nodejs
+ $ curl -sL https://deb.nodesource.com/setup_4.x | sudo -E bash -
+ apt-get update / apt-get install nodejs
+ "This version of nodejs does not work w

[2016-10-24 07:07] usefulthink commented on #50
thanks, i will have a look.

[2016-11-01 20:03] mweinelt commented on #18
Any update on this?

[2016-11-01 22:24] usefulthink commented on #18
Sadly no. I didn't find the time yet to refactor the library to support multiple pwm-outputs. If you would like to help, I already made a plan about what needs to be done and could help you getting this to work.

[2016-11-07 00:54] b33son commented on #18
Over at Falcon, they've produced a Pi Hat & a Pi Cap with two outputs. I can verify this library works great with the Pi Hat on output 1 (GPIO 18). Even if only the one output works. It's still freakin awesome. I'm sure peeps would find the second output very useful.

[2016-12-11 17:29] damianprzygodzki commented on #18
Any updates? Would be great to init two instances of this at once.

[2017-01-19 20:08] gwgorman opened #51 "Does not compile"
when I try to install this module, I get compile errors:
pi@raspberrypi:~/tjbot/recipes/speech_to_text $ npm install rpi-ws281x-native
\

make: Entering directory '/home/pi/tjbot/recipes/speech_to_text/node_modules/rpi-ws281x-native/build'
  CC(target) Release/obj.target/rpi_libws2811/src/rpi_ws281x/ws2811.o
  CC(target) Release/obj.target/rpi_libws2811/src/rpi_ws281x/pwm.o
  CC(target) Release/ob

[2017-01-19 20:42] gwgorman commented on #51
Ok - it works if I grab the latest version of Node manually. The Pi's version is too old.
sorry for the trouble.
/gg

[2017-01-19 20:42] #51 closed

[2017-02-14 19:25] capo349 opened #52 "Pwm1"
Hello my name is Carlos I want to know how I can configure pwm to use raspberry channel 1 because I have conflicts with that channel and Audio.

I appreciate your collaboration.

[2017-02-28 06:39] tsuckow opened #53 "Pi Detection"
Raspberry Pi 1B not detected:

`$ cat /proc/cpuinfo`

[code]

[2017-02-28 06:46] tsuckow commented on #53
Changing the regex to:
`              socFamily = cpuInfo.match(/hardware\s*:\s*(bcm2[78][03][589])/i);`

And adding:
`              case 'bcm2835': return 1;`

Seems to work...

This is on Arch Linux Arm Pi by the way.

[2017-04-01 10:39] Stan92 opened #54 "Could not verify raspberry-pi version"
Hi,
Trying to use the rainbow example, I got this message :
Could not verify raspberry-pi version. If this is wrong and you are running this on a raspberry-pi

My node version is 7.7.4.

Using the cpuInfo object, here is what I get for the hardware section:

Hardware	: BCM2835
Revision	: a02082
.....

[2017-04-03 05:36] guatedude2 opened #55 "Cannot use other libraries such as "onoff""
I'm trying to combine this library with https://github.com/fivdi/onoff however once i call `init` I cannot read or write to any other GPIO using onoff.

Any ideas how I can trigger other GPIOs while controlling a neopixel strip?

[2017-04-04 09:48] usefulthink commented on #55
Honestly, I have no idea.

I just had a quick look at `onoff` and it seems to be using a gpio kernel-module that makes some/all gpio-functions available to userspace. This module on the other hand requires direct access to some GPIO-related hardware-modules (the PWM-Controllers, DMA and VideoCore memory). This might very well be in conflict with each other although I do not fully understand why.

[2017-04-04 09:50] usefulthink commented on #54
Is that on a raspberry-pi 3? I don't have one so I couldn't add it to the detection-code.

[2017-04-04 09:50] usefulthink commented on #54
btw, the relevant code is here: https://github.com/beyondscreen/node-rpi-ws281x-native/blob/master/lib/ws281x-native.js#L37-L46

[2017-04-04 09:55] usefulthink commented on #53
Sorry for not responding earlier, I've been on a longer vacation...

Your change sounds good to me, maybe open up the regex even more, like `/hardware\s*:\s*(bcm\d+)/i`, as the version-check is happening later anyway.

Can you create a pull-request for this?

[2017-04-04 10:00] Stan92 commented on #54
Yes it is a PI3
I use another one and it works

[2017-04-04 10:00] #54 closed

[2017-04-04 10:01] usefulthink commented on #54
Thanks! I will add it to the detection-code.

[2017-04-04 10:19] usefulthink commented on #52
There are several (undocumented and mostly untested) parameters you can pass to the init-function. They will be directly forwarded to the underlying rpi_ws281x-library.

In full, the init-call with default-values looks like this:

[code]

So you could experiment especially with the `gpioNum`-value and see if that helps (i recall that there are only two gpios that support using the PWM-modules, but

[2017-04-04 12:13] guatedude2 commented on #55
Yeah i couldnt really pinpoint the issue why it conflicts either. Is there any other library foe the RPi that works along side this one to control other GPIOs? I have yet to find any other library that controls a NeoPixel like this library.

[2017-04-10 05:18] guatedude2 commented on #55
After some searching I found out [rpi-gpio](https://www.npmjs.com/package/rpi-gpio) works with **node-rpi-ws281x-native** library.

Here's an example of the modifies rainbow example:
*I'm using a push button on GPIO24/ PIN 18 of my RPi*

[code]

[2017-04-10 05:18] #55 closed

[2017-04-27 18:19] Stan92 opened #56 "Compilation error"
Hi,
Using npm install I get this error.
To be clear, I had to uninstall the package.

[code]

[2017-05-03 15:59] divya2100 opened #57 "[rpi-ws281x-native] Could not verify raspberry-pi version"
Hi Team,

I am using raspberry Pi 3 model B.
model name      : ARMv7 Processor rev 4 (v7l)
BogoMIPS        : 38.40
Features        : half thumb fastmult vfp edsp neon vfpv3 tls vfpv4 idiva idivt vfpd32 lpae evtstrm crc32
CPU implementer : 0x41
CPU architecture: 7
CPU variant     : 0x0
CPU part        : 0xd03
CPU revision    : 4
Hardware        : BCM2835
Revision        : a02082
Serial          : 0

[2017-05-05 03:01] jivemoo commented on #57
I see the same problem on Jessie.

Linux raspberrypi 4.9.25-v7+ #994 SMP Fri Apr 28 16:56:00 BST 2017 armv7l GNU/Linux

PRETTY_NAME="Raspbian GNU/Linux 8 (jessie)"
NAME="Raspbian GNU/Linux"
VERSION_ID="8"
VERSION="8 (jessie)"
ID=raspbian
ID_LIKE=debian
HOME_URL="http://www.raspbian.org/"
SUPPORT_URL="http://www.raspbian.org/RaspbianForums"
BUG_REPORT_URL="http://www.raspbian.org/RaspbianBugs"

[2017-05-05 03:54] cdimascio commented on #57
i see it too

the following code determines the pi version

[code]

@divya2100 if that returns 0, you get the warning and stubbed bindings.
you could try removing that check 😨 and it will attempt to create native binding. it may be risky, no idea what that code does... fry the pi?

[2017-05-08 02:10] linpy commented on #57
I am using raspberry Pi 3 model B on jessie.
And I got Hardware info below from /proc/cpuinfo file.
==
Hardware : BCM2835

My friend use the same version of pi, she got BCM 2709, she could load rpi-ws281x-native & run tests successfully, I tried to remove the raspberryVersion routine, and LED  change color correctly now.

I still wonder why the Hardware info different with same hardware. Anyone co

[2017-05-08 15:38] 17812 commented on #57
I also have BCM2835 audio profile and getting the same error. I think this happened after recent kernel update...I wonder if there is any way to specify different module?

[2017-05-11 14:44] divya2100 commented on #57
I tried to change the code, but still the same error.
I added line for BCM2835, but still same error.
Any suggestions for the same.

        var raspberryVersion = (function() {
        var cpuInfo = require('fs').readFileSync('/proc/cpuinfo').toString(),
            socFamily = cpuInfo.match(/hardware\s*:\s*(bcm270[89])/i);

        if(!socFamily) { return 0; }

        switch(socFamily[1].toLowe

[2017-05-12 23:14] Jkat19 commented on #57
Where are you guys seeing the code to change in order to get the RGB lights to work properly? I cannot find the raspberryVersion routine code on my system. My hardware is also bcm2835.

[2017-05-13 04:01] cdimascio commented on #53
@usefulthink , I've prepared a PR - https://github.com/beyondscreen/node-rpi-ws281x-native/pull/58

[2017-05-13 04:01] cdimascio commented on #57
I've prepared a PR with the fix https://github.com/beyondscreen/node-rpi-ws281x-native/pull/58

[2017-05-15 01:59] natcl opened #59 "Support newer version of the ws281x library"
The newer version supports more types of leds like RGBW strips. Any chances of using the more recent version ?

[2017-05-16 14:20] #53 closed

[2017-05-16 22:31] usefulthink commented on #59
I will have some spare time in the coming months and another LED-related project to do, so I will get to that soon. Was on my list anyway :)

[2017-05-17 00:10] victordibia commented on #57
Thanks @cdimascio!

[2017-05-17 05:45] divya2100 commented on #57
Thanks @victordibia @cdimascio !!!

[2017-05-17 05:45] #57 closed

[2017-06-09 17:40] cpottamus opened #60 "Support for Pi 3 Model B?"
I'm having a very difficult time getting this library to work with Pi 3 Model B.

Using an 74AHCT125 level converter on my breakout board, similar to this [guide for the ws281x python library](https://learn.adafruit.com/neopixels-on-raspberry-pi/)

I'm using NeoPixels but I can't get any voltage out of my converter... wondering if there is a library support issue.

I've already modified my audio p

[2017-06-13 21:39] shortbloke commented on #60
@cpottamus I've just built this using a RPi3 and 74HCT125 level converter. If you're trying to measure voltage via multi-meter you won't be able to as the data commands a very short pulses. You'd need an oscilloscope to be able to see it.

If you are powering a long strip of lights you'll need a large PSU, I'm using a 5V 10A power supply to power both Pi and my LEDs, if using different supplies fo

[2017-06-17 16:44] shortbloke opened #61 "File System going read-only! With latest raspbian updates"
I originally raised this issue against another project: https://github.com/jamesbulpin/meshblu-connector-ws2811/issues/4 However after some further investigation it appear the issue is rooted in this library.

Issue:
After running the test program or the examples on a Raspberry Pi 3 with Raspbian Jessie + all updates as of 17 June 2017. The file system gets marked read-only. Checking dmesg shows l

[2017-07-04 22:39] usefulthink commented on #60
Hi! Yes, the library got a little bit dated and I had some problems myself (but on a PI2) when I started a new project with it. Based on that and some other feedback here, I started a almost complete rewrite based on the latest Version of the upstream-library and some new design-principles for the c++-bindings which is now well underway. So there will be something worth testing within the next few

[2017-07-04 23:17] usefulthink commented on #61
Oh well, I probably need to get a PI3 for testing at some point.. I'm sorry you are experiencing these problems :( And thank you very much for this very detailed report.

Now, this module in itself doesn't do anything fancy. It's just a pretty slim wrapper around the [original library by jgarff](https://github.com/jgarff/rpi_ws281x). So, my first guess would be that it has something to do with tha

[2017-07-05 07:12] shortbloke commented on #61
Yes, this bug appears to be in the base library pulled into this project. The using DMA channel 10 didn't work for the original reporter, but they did say they had issues with lights flickering, they didn't mention if they were getting the SD card errors still. I'll give it a try in the next day or so and update here and the other issue against the base library.

[2017-07-06 11:42] shortbloke commented on #61
I've tested with the latest version of jgarff's library and can confirm if I use the default DMA of 5 I have the problem, if I switch to DMA 10 then it's fixed.
I've repeated a test by modifying the `example\rainbow.js` to use DMA 10:
[code]
This appears to also address the issue. I expect the fix to possibly change the default DMA number would be best done in the base project.
However, maybe ther

[2017-07-06 16:56] usefulthink commented on #61
Awesome, glad to hear that! I will at least make it more obvious and add that to the documentation.

Can you append the output of `cat /proc/cpuinfo`, `cat /etc/os-release` and `uname -a` here for reference? I may be able to implement an automatic switch based on hardware- and kernel-version.

[2017-07-06 17:19] shortbloke commented on #61
Sure here's the info:
**cpuinfo**
[code]

**os-release**
[code]

**uname**
[code]

[2017-07-07 20:37] bobbysa opened #62 "Update brightness, without changing color"
I'm completely new to this, so apologies in advance if this is a simple task, but I would like to know how to update just the brightness of my strip, without affecting a solid color that's already been preloaded by another script. If that's not possible, is there any way to detect the state/color the strip is, set the color from that, and then change the brightness.

[2017-07-08 16:27] LolCatPhd commented on #60
I need some help please:
I have a ws2812 neopixel (8 strip) hooked up to a RPi3 B using 74HCT125 connected in between GPIO18 and the neopixel strip. The 74HCT125 does output 5V when provided by a 3v3 constant voltage. I have commented out dtparam=audio=on and blacklisted the following:

blacklist snd_bcm2835
blacklist snd_pcm
blacklist snd_timer
blacklist snd_pcsp
blacklist snd

I have tried both

[2017-07-08 22:26] usefulthink commented on #62
So in the current Version (there will be an update soon) the brightness can be changed using `ws281x.setBrightness(value)` with a value from 0 to 255.
This will call the internal render-function again, so whatever was rendered the last time will be rendered again with adjusted brightness. (see [here](https://github.com/beyondscreen/node-rpi-ws281x-native/blob/master/lib/ws281x-native.js#L179-L187)

[2017-07-10 16:46] meaku commented on #60
@usefulthink great to hear you are working on a new version. Let me know if there is anything to play with / test.

[2017-07-30 02:27] gangstead opened #63 "Compatibility with Johnny Five?"
Has anyone gotten this to work with Johnny five?  I think the native library and rasp-io don't get along even though they are going after different pins.

I made some test code to take the working rainbow example and speed it up while a button is being held down:
[code]

*What I expect to happen:* Rainbow effect speeds up when button is pressed, slows down when released.

*What actually happens:*

[2017-08-13 00:34] jsonpoindexter commented on #61
I am having the same issues! Glade I found this thread!

[2017-08-21 01:34] chilipeppr commented on #61
I found a similar issue with the SD card switching to read-only mode and from what I can tell switching to DMA 10 fixed it. I'm on a Raspberry Pi 3.

For what it's worth, I couldn't find docs on the options either that you can pass in. Here's what I deduced.

var OPTIONS = {
  // frequency: 8000,  // Uint32Value symFreq = Nan::New<String>("frequency").ToLocalChecked(),
  dmaNum : 10,      // Int32

[2017-09-08 05:30] socalledsound opened #64 "[rpi-ws281x-native] it looks like you are not running on a raspberry pi"
Hello, I went through the same Adafruit tutorial that you linked to with a single neopixel on a raspberry pi 2 and am able to get a rainbow animation using their python code.  I'd prefer to work in JS so thought I'd try out your library.  Unfortunately when I run sudo node rainbow.js I get:

[rpi-ws281x-native] it looks like you are not running on a raspberry pi so there will be no functionality e

[2017-09-08 05:57] socalledsound commented on #64
ps: is 'linux' in the pi detection code case senstive?  when I run uname -a I get

Linux raspberrypi 4.9.41-v7+ #1023 SMP Tue Aug 8 16:00:15 BST 2017 armv7l GNU/Linux

[2017-09-11 08:42] stefaanternier commented on #52
Hi,
Just like Carlos I have an interest in using your library in combination with  BCM 13 / PWM1 as I want to control two ws281x strings. Trying the default (gpioPin 18) works for me as expected. However when I change the gpioPin to 13, I get your "initialization failed. sorry – no idea why." error.
Any idea why? My code looks as follows:

[code]

[2017-09-11 10:57] usefulthink commented on #52
Hi @stefaanternier,

the current version doesn't yet support running both PWMs at once. I am currently developing an updated version that will support that (and a lot more...).
Unfortunately, I do not have the time as I had hoped, but I can publish what I got so far so you could maybe pick it up from there.

[2017-09-11 11:29] stefaanternier commented on #52
Thanks for your swift response!
That would great.
Just to be sure. The library by Jeremy Garff offers support for both PWMs? The challenges is here to make this available via your NodeJS wrapper?

[2017-09-11 11:36] usefulthink commented on #52
Exactly. I didn't try it myself yet (I was always fine with using a single channel) but I am pretty sure others did. But to get this working properly I rewrote the entire thing to move more of the stuff to the JS-part of this module. However, it doesn't work yet and I need to figure out what is going wrong...

[2017-10-07 02:45] b33son commented on #64
Just FYI, this library works on Raspberry Pi Zero W. I've successfully got it working with OPC and OLA.

[2017-10-31 10:19] scottstratford opened #65 "Using any control line other than BCM 18"
Has anyone gotten any other interface to work? I am doing this:

[code]
and if I use any value other than 18 (i.e. 10 or 21) as the gpioPin I get this error:

[code]

I am running on a Raspberry Pi Zero. Pin 18 is basically working but I am getting irregular delays on the write command. I am driving a 60 LED strip and most calls to write take <2ms, but every minute or so a write will take ~600ms t

[2017-11-04 17:03] Granjow commented on #64
@socalledsound it checks this:

    if (process.arch !== 'arm' && process.platform !== 'linux')

Do those differ for you?

[2017-11-04 17:10] Granjow commented on #60
@cpottamus Works fine here. Did you use the correct GPIO pin (Pin 12 or BCM 18)? https://pinout.xyz/

Something like a [Picoscope](https://www.picotech.com/oscilloscope/2000/picoscope-2000-overview) or [Saleae](https://www.saleae.com/) might help too.

[2017-11-17 01:16] etx commented on #61
I think this fixed the problem I was having on a RPi Zero w running this lib. DMA 10 seems more stable and i'm not seeing the lockups I was having before. It's been killing me all week!

Great lib, super helpful!

[2017-11-20 01:36] mikaye commented on #60
@usefulthink How long until a new version with the latest rpi-ws281x? I'm currently getting the error that it thinks the RPi3 is not a Pi. According to @jgarff, this should be fixed with the latest rpi-ws281x.

[2017-11-29 22:54] paulhayes commented on #59
Did this never happen?

[2017-11-30 00:29] usefulthink commented on #59
Unfortunately, I only find so much time to take care of this project but now the new, mostly rewritten version is slowly taking shape, see here: https://github.com/beyondscreen/node-rpi-ws281x-native/tree/v1.x.

Right now this is just a blind rewrite (meaning the code has yet to see a compiler) as I somehow lost access to the PI I was testing on :/. Something to figure out over the weekend when I

[2017-11-30 23:32] usefulthink commented on #59
Quick update: the code for the next version just passed my initial test (only seen it on my oscilloscope, but the signal looks correct). There are still a few things that need to be fixed, but we're getting there.

If you feel adventurous: check out the v1.x branch, run `npm install` on a PI and adjust/run the example: `sudo node examples/new-api.js`.
Please tell me about any errors you might see.

[2017-11-30 23:36] usefulthink opened #67 "v1.0 consolidation"
A rewrite of the library with adjusted API and rewritten native bindings is on it's way and did just pass some initial testing.

The new code can be found here: https://github.com/beyondscreen/node-rpi-ws281x-native/tree/v1.x

This issue is used to consolidate all open issues that are resolved by these changes.

[2017-11-30 23:37] usefulthink commented on #65
I'm closing this as this will be resolved with version 1.0 (now finally on the horizon). See #67 for progress on that.

[2017-11-30 23:37] #65 closed

[2017-11-30 23:41] usefulthink commented on #64
There are quite some raspberry-editions that might give false negatives with the current detection-code. The upcoming version will use completely rewritten code for that.

[2017-11-30 23:49] usefulthink commented on #60
just passed the first tests, see #67

[2017-11-30 23:58] usefulthink commented on #59
See #67

[2017-12-01 01:07] usefulthink commented on #56
sorry for not replying earlier. The issue you experienced is apparently a bug in gcc and has nothing per se to do with this module.

[2017-12-01 01:07] #56 closed

[2017-12-01 01:10] usefulthink commented on #52
see #67 for updates on the new version that will support using both PWM channels.

As we didn't hear back from OP, I am closing this.

[2017-12-01 01:10] #52 closed

[2017-12-01 01:11] #29 closed

[2017-12-01 01:12] usefulthink commented on #29
see #67

[2017-12-01 01:14] usefulthink commented on #18
updates here: #67

[2017-12-01 11:27] paulhayes commented on #59
Thanks @usefulthink, I'm really glad you are doing this. I forked that branch soon after posting to this issue, and began in earnest trying to pick through things. Thanks for the intro on #67, that will help me. I'll take a look at the new api, and see if I can get my RGBW strand ( 2 meters of 160p/m ) to work.

[2017-12-02 19:30] paulhayes commented on #64
Hi there, I discovered this problem too, the rpi-version library hasn't been updated in two years! I've added the RpiZeroW cpu to the list of cpu info in the library and performed a pull request. Hopefully the maintainer will merge in the change soon!

https://github.com/ivsgroup/rpi-version/pull/4

[2017-12-02 19:32] paulhayes commented on #67
I'm so happy, with a bit of tweaking the new-api.js worked great for me!
I might do a pull request, but I'm so glad it's working with me rgbw LED strip!

ps I noticed you have an ar-drone project on github from ages ago, me too!

[2017-12-02 19:37] paulhayes commented on #67
FYI rather than the npm upload. I use sshfs which I find to be a great way of using GUI editor for code on my pi!

[2017-12-03 23:00] usefulthink commented on #67
Updated the [README](https://github.com/beyondscreen/node-rpi-ws281x-native/blob/v1.x/README.md) with the new API. Please let me know if you like it or if there are any things I can improve in the API-Design (that will likely stay for the foreseeable future...).

[2017-12-03 23:10] #49 closed

[2017-12-03 23:17] usefulthink commented on #63
Sorry for not getting to this earlier, but I suspect that the J5-library itself is somehow interfering with direct configuration and access of the DMA/PWM/GPIO functions of the raspberry.

One thing that comes to mind is you can try to make the GPIO usage more exlicit by specifying the includePins or excludePins options to the `Raspi` constructor. That way it might be possible to prevent the inter

[2017-12-03 23:18] #62 closed

[2017-12-03 23:21] usefulthink commented on #50
never heard about this again and it's still running for me with newer node-versions. Please ping to reopen if the problem still exists.

[2017-12-03 23:21] #50 closed

[2017-12-03 23:23] usefulthink commented on #22
for reference, there is now a first working version of the upcoming 1.0-version that supports all different strip-types. See #67 for all the details.

[2017-12-03 23:23] #22 closed

[2017-12-03 23:29] usefulthink commented on #64
@paulhayes Awesome, that did at least already land on master. Just needs a new version on npm now.

[2017-12-17 22:08] XPilot opened #70 "setBrightness 0 - 100 not 0 - 255"
I've metered the setBrightness function and it looks like the scale is from 0 to 100 not 0 - 255

[2018-01-17 20:40] shaunjacobsen commented on #67
Hi! I am working on a project and would like to use this library with an RGBW ring. Will the 1.0 version be available soon on npm (e.g. using npm install rpi-ws281x-native@1.0)?

[2018-01-17 21:50] usefulthink commented on #67
Right now it is available for testing via `npm install rpi-ws281x-native@next` ([docs here](https://github.com/beyondscreen/node-rpi-ws281x-native/blob/v1.x/README.md)).

There may be some things that do not fully work yet. If you encounter any problems please be so kind to report back here :)

[2018-03-01 17:27] JasXSL opened #73 "Lower values only update every 16"
I'm running an Adafruit Neopixel strip of 120 lights (Should be ws2812), hooked up to a raspberry pi via a 74AHCT125 3.3v to 5v converter. Values on the darker ranges only seem to update every 16 steps. For an example:

- 0x000009 = Completely off
- 0x000010 = On
- 0x000019 = Same as 0x000010
- 0x000020 = Very notably brighter than 0x000019

Is this an issue of hardware, or am I doing something wr

[2018-03-01 17:34] JasXSL commented on #73
I've tested without the 3.3v to 5v converter and I'm getting the same issue. Only every 0x10 will actually update the brightness.

[2018-03-14 14:28] hardillb commented on #65
This still doesn't work with the node-rpi-ws281x-native@next builds

[code]

Throws the following error:

[code]

Any idea when we might be able to use pin 13?

[2018-03-14 14:43] hardillb commented on #65
Ignore that, I found the new README and things look better.

[2018-03-14 14:53] usefulthink commented on #65
hm, hard to say. That is an error that is forwarded from the underlying c-library which now supports multiple operating modes (PWM and PCM) to support as many pins as possible. There is some more information about this in [that projects readme](https://github.com/jgarff/rpi_ws281x#gpio-usage)

[2018-03-14 15:17] usefulthink commented on #73
in the pre-1.0 version there is gamma-correction in place that might be responsible for this: https://github.com/beyondscreen/node-rpi-ws281x-native/blob/master/lib/ws281x-native.js#L74-L89

[2018-03-14 17:39] natcl commented on #70
Any updates on this ? I'd be curious to know too.

[2018-03-27 10:41] XPilot commented on #70
@natcl - Apparently not. We will have to use scale 0-100 instead of 0-255.

[2018-03-27 14:49] orgicus opened #75 "does not run on Raspberry Pi ZeroW"
The first issue I've encountered was around the Raspberry PI CPU version which I've got around by updating the section of `getNativeBindings()` like so:

[code]

However now examples crash on init():

[code]

Any hints on how this could be fixed ?

Thank you,
George

[2018-03-29 16:55] natcl opened #76 "Does not run on Raspberry pi 3 B+"
Tried the v1.0.0 version on Raspberry pi 3 B+ and it says it could not verify the raspberry version and to file a bug report.

Thanks !

[2018-03-30 02:19] natcl opened #77 "problems with reset() and finalize() in the new api"
With the new version (1.x)
I get the following error when I call reset():
[code]

Also finalize() does a segmentation fault.

Any ideas ?

Thanks !

[2018-03-30 02:30] natcl commented on #77
I fixed the first problem by changing this:
[code]
The segmentation fault remains upon finalize though.

[2018-04-10 21:53] Thyvo commented on #76
Hi natcl, I would like to use your fork of this libary but I receive an build error while making it from source.

Could you activate the issues tab so I can post the error?

[2018-04-10 21:56] natcl commented on #76
Should work now

--
lecaude.com
studioimaginaire.com

[2018-05-12 22:34] giacomocarrozzo opened #80 ""Failed to open /dev/vcio" Error"
Hi, tried to run on my device. I have a Raspberry 2 with HASS.IO (resin.io os) and I get this errors:

`Failed to open /dev/vcio, trying old method.
Can't open device file /dev/mailbox-26: Operation not permitted
Error: init(): initialization failed. sorry – no idea why.
at Error (native)
at EventEmitter.ws281x.init (/usr/src/pixel-wall/node_modules/rpi-ws281x-native/lib/ws281x-native.js:136:14)`

[2018-05-15 20:09] d74g0n opened #81 "Journal has aborted - filesystem goes read only mode."
my bad i'd delete this if i could figure it out.

[2018-06-03 10:30] neon-JS opened #82 "Installation fails on current node-version"
I reinstalled Raspbian and installed the current node (v10.3.0 with npm v6.1.0).
Installation of `rpi-ws281x-native` failed during `node-gyp rebuild`.
Using nvm to use node v8.0.0 with npm v5.0.0 helped since it could be build now.

Logs (v10.3.0, npm v6.1.0):
[2018-06-03T10_11_26_415Z-debug.log](https://github.com/beyondscreen/node-rpi-ws281x-native/files/2065851/2018-06-03T10_11_26_415Z-debug.lo

[2018-06-08 22:08] jonas27 commented on #82
Same problem here. Updating node-gyp to v3.7.0 didn't help either

[2018-06-09 14:27] jonas27 commented on #82
Got it to work. Used Raspberian Jessie, Stable node version for arm7 and version 0.8.2 of this lib

[2018-06-09 18:57] neon-JS commented on #82
Yes, I got it to work with node 8.0.0 as mentioned above. But building should work on current version too since switching to an old version of node when using this module is neither comfortable, nor safe, I guess.

[2018-06-13 02:44] tsuckow commented on #76
I also published rpi-version-next@1.5.0 with your changes.

[2018-06-14 07:59] sctaix opened #83 "Is this library support omega2 also?"
Is this library support omega2 also?

Did anyone test this library with omega2?

[2018-06-25 04:52] sctaix opened #84 "WS2813 GPIO ?"
WS2183 LED Strip has four line

GND, 5V, D0, B0

B0 is the backup line.

D0 => #12 PIN
B0 => ?

[2018-07-01 01:10] cSchubes opened #85 "Cannot install on a Resin device"
Hi,

When attempting to deploy this package (npm install) to a Raspberry Pi 3 running resinOS a compilation error occurs:
[code]
The base image is resin's provided resin/raspberry-pi-node Docker image which has the latest version of node installed. Another issue mentioned it was an issue with node versions, but I cannot change the node version of this image.

Any help is greatly appreciated.

[2018-07-05 07:34] usefulthink commented on #85
So, I just found out what resinOS even is :/
To me the error-message sounds like it is having problems finding either the node header-files or it's shared libraries to link to. Given that it's a containerized thing that would kind-of make sense. Can you check if you can install other native node-modules there?

You could also try to run `node-gyp rebuild --verbose` in the module-folder (`node_modu

[2018-07-05 07:45] usefulthink commented on #84
According to [the datasheet here](http://www.normandled.com/upload/201605/WS2813%20LED%20Datasheet.pdf) it appears that you need to connect both pins (`DIN` and `BIN`) to the data output from the rpi.

[2018-07-05 07:47] usefulthink commented on #83
I wouldn't expect it to.
The library directly uses processor-features specific to the broadcom bcm27xx SoCs built into the raspeberry-pi. Any other processor is extremely unlikely to work the same way.

[2018-07-05 07:47] #83 closed

[2018-07-05 07:52] usefulthink commented on #82
I'll have to look into this, but unfortunately I don't have a working setup around right now. If anyone wants to take it, I would suspect an outdated version of [nan](https://github.com/nodejs/nan) is the reason for this. Running `npm install nan@latest` and rebuilding might already solve that.

[2018-07-05 07:55] usefulthink commented on #81
Can you have a look at #61 and see if changing the DMA helps?

[2018-07-05 07:55] usefulthink commented on #80
"Operation not permitted" sounds like you are not running it as root. Might that be the reason?

[2018-07-05 07:55] #80 closed

[2018-07-05 07:56] #81 closed

[2018-07-05 07:57] #64 closed

[2018-07-05 13:37] cSchubes commented on #85
I think it’s actually independent of resin - as mentioned in issue #82, it’s failing to build on a system using node 10. I was able to rollback the version using resin/raspberry-pi-node:8 as the base image and everything works beautifully! I am curious about one thing though: one of the methods provided changes brightness. In what way is this done? Is it just proportional changing of the RGB color

[2018-07-06 19:33] d74g0n commented on #61
It is true about DMA fixing my problems;
ws281x.init(NUM_LEDS,{dmaNum: 10}); // simply adding dmaNum: 10 has stabilized my system that has now been running for a month+ without problems.  The DMA conflict not only caused read only errors to occur but really stuttered and lagged all samba and other filesystem functions before catastrophic read only error occurred.   On a side note i fried a pi when

[2018-07-06 21:40] usefulthink commented on #75
Hey, sorry for not noticing this earlier!
Did you already solve this somehow? You could try to switch to the 1.x-branch (install with `npm install rpi-ws281x-native@next`). At least the error-messages should make a bit more sense there.

[2018-07-07 17:50] usefulthink commented on #85
Brightness is directly handed over to the c-library (see here https://github.com/jgarff/rpi_ws281x/blob/master/ws2811.c#L1139 and search for `scale`). It is used to scale all color-channels independently before doing the gamma-correction.

[2018-07-07 17:50] #85 closed

[2018-07-09 22:17] HerrZatacke opened #87 "root user and all network connections to the Raspberry "freeze" after POSTing a file to express server while ws281x-animation is running."
Hi there,

First of all I have to say I appreciate all the work that is being put into this module.

I have a strange issue with this library in combination with [express](https://www.npmjs.com/package/express) (the node http server) where it seems **the root-user kind of "gets locked" or "freezes"** and all **network connections seem to die** until the next restart **after POSTing a file** to an

[2018-07-10 08:52] usefulthink commented on #87
Hey there, you absolutely deserve a 🥇🏆for the most detailed bug reported here yet!

The error-message (`ping: sendmsg: Kein Hauptspeicher für den Puffer verfügbar`, original text `No buffer space available`) sounds suspiciously like the pi ran out of some sort of memory. Further searching leads to this SO-question: https://askubuntu.com/questions/210451/what-does-ping-sendmsg-no-buffer-space-avail

[2018-07-10 13:01] HerrZatacke commented on #87
Hi,

Sure! I'll try both of your suggestions and will also join your channel to report back :-)

[2018-07-31 16:58] VlivesRaw commented on #82
This issue seems to be solved with the #79
@usefulthink can you please publish a new version to npm?

[2018-07-31 19:46] usefulthink commented on #82
I just pushed out version 0.9.0 with all of these fixes. Probably the last version for the "old" 0.x branch. As I still don't have any working setup around, I will fully rely on this issue-tracker to see if something did go undetected.

[2018-07-31 19:46] #82 closed

[2018-08-01 08:46] #48 closed

[2018-08-11 05:39] tsuckow opened #89 "What is in 0.9.0?"
I don't see a tag for the 0.9.0 release

[2018-08-12 04:23] tsuckow opened #90 "Change DMA from 5 to 10"
In the 3B+ it seems DMA 5 is shared with sd card operations. The new accepted behaviour is to use DMA 10.

[2018-08-13 09:45] usefulthink commented on #89
sorry, oversight on my part, here it is: https://github.com/beyondscreen/node-rpi-ws281x-native/tree/v0.9.0

[2018-08-13 09:45] #89 closed

[2018-08-13 19:14] usefulthink commented on #90
@tsuckow do you have any reference for this? I am always completely confused when it comes to DMA nbumbers and never found any reference of their usage..

[2018-08-15 13:32] natcl commented on #59
If you use the 1.x branch it should work.

[2018-08-16 13:05] alberto2000 opened #91 "Usage with Node-RED"
I'm using your library as a dependency for a custom Node-RED node I'm working on. When I start node-red with no root privilege the program runs but obviously no LEDs light up as the library needs to have root privileges granted for GPIO access - but when I run node-red with sudo I get this error in console:

Any hint on where this stems from?

[2018-08-16 13:14] usefulthink commented on #91
so you're using the 1.0 version?

This can happen when one of the option-values has an invalid value (i.e. it's not a number or a boolean). Here is the code that throws that error: https://github.com/beyondscreen/node-rpi-ws281x-native/blob/724303a4518314086fa5765e5c402218c30e8591/src/rpi-ws281x.cc#L105-L109

And this is where it is called:

https://github.com/beyondscreen/node-rpi-ws281x-native/b

[2018-08-16 13:28] usefulthink commented on #91
If you don't, the initialization of the ws281x-library won't happen.

[2018-08-16 13:29] alberto2000 commented on #91
I know - any idea why this line triggers the error only when run as root? Or why it throws at all?

[2018-08-16 13:59] alberto2000 commented on #91
My fault - I was passing 60 as a string (not reflected in the snippet I put above) :|

[2018-08-16 13:59] #91 closed

[2018-08-27 09:42] joakimunge commented on #63
I can confirm excluding the pin used by the LEDs will make it available and working. Tried just now with Raspberry Pi 3 B+ and NeoPixel Stick. In the default case, that is GPIO18.

[code]

I think we can close this?

[2018-08-27 09:44] usefulthink commented on #63
sounds great! Thanks for updating this. Will close it now. @gangstead, if you still experience problems, feel free to reopen or create a new issue.

[2018-08-27 09:44] #63 closed

[2018-08-27 12:05] alberto2000 commented on #76
Can we merge B+ support into v1.x?

[2018-08-27 12:56] usefulthink commented on #76
thanks for bringing this up, I will have a look tonight!

[2018-08-27 14:11] joakimunge commented on #76
@usefulthink Nice. I'm working on an IoT project using neopixels and RPi 3 B+ right now, so support would be great.

@natcl I tried to build your repo but I received an error, probably the same as @Thyvo . Posted an issue in your fork.

[2018-08-27 14:43] alberto2000 commented on #76
I got it to work by adding `"a020d3" : "Model_B+_PI_3"` to index.js of rpi-version and updating/cloning current master branch of https://github.com/jgarff/rpi_ws281x into ./src/rpi_ws281x and rerunning `npm i`

[2018-08-27 14:45] joakimunge commented on #76
@alberto2000 Was this using @natcl fork or the source v1.x?

[2018-08-27 14:46] alberto2000 commented on #76
@joakimunge I'm using v1.x

[2018-08-27 15:17] joakimunge commented on #76
@alberto2000 Thanks. Got it to work using your way as well.

[2018-08-29 07:42] alberto2000 commented on #76
The things needed to to to make this work with B+ are
- update submodule at `./src/rpi_ws281x` to use official/latest jgarff version
- use git version of `rpi-version` (npm package is out of date)

[2018-08-29 08:45] usefulthink commented on #90
The thing is, everything I found so far were single data-points, like the one you quoted. And that is true for a specific OS-release on a specific device. What I would love to find is something more general, like an overview of how dma-numbers are used so we can ideally select one dynamically.

Also: the change from 5 to 10 came based on [this issue](#61), so it's not like that any choice will be

[2018-08-29 14:55] tsuckow commented on #90
I did find a reference somewhere implying there is a proper way to reserve a dma controller for use, the number would potentially change each run. But I didn't find concrete code. I would also say that should be done in the native library and not in this wrapper.

[2018-08-30 08:32] joakimunge commented on #76
Can confirm. @alberto2000

[2018-09-13 11:51] alberto2000 commented on #77
Same problem here, .finalize() leads to segmentation fault, but weirdly only sometimes

[2018-09-30 00:46] xoblite commented on #87
Hi,

_First of all I have to say I appreciate all the work that is being put into this module._

I can only join the choir here - much appreciated indeed! As for the issue, I have been experiencing similar symptoms to the ones described by the OP, but haven't been able to track down the issue yet either (btw, updating to Node.js 8.12 doesn't seem to improve things). May I ask though, how fast is y

[2018-10-05 06:49] xoblite commented on #87
After some more testing (including running the same code via Pimoroni's python library and managing heavy load at the same time) I can pretty much confirm the issue is somewhere in the library; possibly in the default (i.e. unspecified / passed on) init settings. What's interesting is that a few, low pps of network traffic is OK, but more than that and it freezes. Could it be a DMA conflict again

[2018-10-05 07:14] xoblite commented on #87
#90

[2018-10-05 07:18] xoblite commented on #87
#90

[2018-10-05 07:39] xoblite commented on #87
Update: Tried changing the DMA channel in [rpi-ws281x.cc](https://github.com/beyondscreen/node-rpi-ws281x-native/blob/master/src/rpi-ws281x.cc) to **10** and recompiling, and everything seems to be working like a charm now (running Node.js, Prometheus, Redis, sudo apt-get update and frequently hitting my own HTTP server code at the same time, seemingly no issues so far at least).

[2018-10-06 16:06] Profe66er commented on #87
Hello, I am having the exact same problem. Could you please give a detailed description on how to change the DMA channel and all the steps needed to get this working?

[2018-10-06 17:37] xoblite commented on #87
@Profe66er:

I'll try... (I had never done it before either, but I think this is the correct workflow)

- Install [node-gyp](https://github.com/nodejs/node-gyp) (nb. the instructions on that page match my steps below btw).
- Change (e.g. using nano) row 19 of `rpi-ws281x.cc` in the `<ParentFolder>/node_modules/rpi-ws281x-native/src` folder to read `#define DEFAULT_DMANUM          10`, and save.
-

[2018-10-06 18:04] Profe66er commented on #87
Thank a lot. Very helpful. Im on RPI 3B+ and I was trying to run a Spotify api program while running the neopixle server but the neopixle server kept on crashing. I was using a Ws2812B too. It all seems to work now but Ill do some more testing.
Thanks alot!!!

[2018-10-10 07:51] xoblite commented on #87
@HerrZatacke @Profe66er Any updates?

[2018-10-29 10:05] izzy26 commented on #87
Duh I wish I found this issue last week when I ran into the same problem. My scenario was that I was using my Pi as a WiFi AP (using the built in WiFi chip on wlan0), connecting my phone to it to control the LED strip. It froze every time I tried to serve a static HTML file from the Express. However, I solved the issue by reversing the connection logic - my phone was set to an AP mode and Pi was c

[2018-12-13 11:32] joedeveloper commented on #39
For me it would be valuable to have an example of index mapping.
There are a number of possible solutions I could choose between in controlling my leds - I really like the 'idea' of index mapping, but without an example I would have to commit time I can't get back to understand, leverage and validate this functionality.

This becomes harder to justify as the last package update timestamp slips fur

[2018-12-14 10:59] usefulthink commented on #39
Hey @joedeveloper, the problem is that I couldn't see a way that solves the index-mapping in a way that is really useful for more than just a very narrow set of use-cases (and pretty much useless for all others). This is why it was dropped entirely from the newer version of the library (see https://github.com/beyondscreen/node-rpi-ws281x-native/tree/v1.x).

I think it might be worthwhile to approa

[2019-01-02 10:31] xoblite commented on #87
After putting the same type of pHAT on my [Raspberry Pi 3A+](https://www.raspberrypi.org/products/raspberry-pi-3-model-a-plus/) I can confirm that the DMA 5 issue applies to this model as well, and that it's solved by changing the DMA channel to 10 as per above.

FYI, another way (read: perhaps useful beyond waiting for the DMA change specifically to happen upstream) to address this, that I now us

[2019-01-02 13:08] xoblite commented on #90
An [alternative way](https://github.com/beyondscreen/node-rpi-ws281x-native/issues/87#issuecomment-450830335) to change the DMA channel per your needs. BR//KHH

[2019-01-17 01:08] davidpox opened #94 "No LEDs turn on"
Hi, I'm attempting to create a web interface for controlling WS2812 LEDs. I managed to get the `rainbow.js` example working from the examples folder using `sudo node rainbow.js` and that worked fine. However I am now attempting to port this code over to my own use-case but it isn't working. I copied the `ws281x-native` stuff over and its related dependencies. The library initializes fine (logging

[2019-01-29 05:12] NoahRoseLedesma commented on #87
Im experiencing similar 'freezing' issues. Im using my RPI as a network bridge. Running an animation for an extended period of time kills hostapd and seems to freeze up the system.

[2019-02-21 18:00] adamcoulombe commented on #94
Is apache running with root priviledges? Ultimately the script needs to be run with root.

[2019-02-21 18:02] adamcoulombe commented on #94
The way I did it was using a express.js server to handle http requests and running that script using root (sudo). I am not as familiar with how it gets called if youre using apache.

[2019-02-24 17:54] tjgionet commented on #76
@alberto2000 I'm still having trouble getting this to run even after both your updates listed above.
There is literally no response from either the neopixels or out the console.

Any other tips?
When you update the submodule rpi_ws281x and run 'npm i' is there anyting else that needs to be done.

Basically I do both updates above head to the root of the directory complete a final npm i then a node

[2019-02-24 19:44] tsuckow commented on #76
Are you trying to drive the neopixels directly or do you have a 5v buffer
between the pi and the pixels?

On Sun, Feb 24, 2019, 09:54 Trevor Gionet <notifications@github.com> wrote:

[2019-02-26 18:06] tjgionet commented on #76
I believe we drive them directly. My issue was simply that I was using the old API. Once I updated that all went smoothly. Thanks!!

[2019-05-10 14:27] nicklasfrahm opened #95 "DeprecationWarning"
Hello,

currently, when running this package in node `v10.15.3` I get the following error:
`(node:806) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.`

[2019-05-26 14:14] nicklasfrahm commented on #95
@usefulthink I really don't want to put any pressure, but is there a chance to release this change soon? If I am told, what I have to update (`package.json`, etc.), I can also submit a PR with that, so that you only have to create a release in GitHub.

[2019-05-30 14:11] nicklasfrahm commented on #87
I think we should at least update the `README.md` to document this. I suspected my SD cards until I found this issue.

[2019-05-30 16:37] xoblite commented on #87
@usefulthink Any update on the subject? Will you pull this one yourself, or do you want me to do it? (nb. the change to DMA channel 10 was committed to upstream by jgarff a very long time ago)

[2019-06-07 08:03] leonarddevries commented on #45
I'm currently trying to get it to work on OpenWRT as well. @evanlitw Can you maybe ellaborate a little on how you got it to work?

[2019-07-23 22:20] cinderblock opened #97 "Stability issues on Pi Zero W"
I've been trying to run this on a Pi Zero W. I'm calling `render()` in a `setInterval(..., 1000/40)` loop. It usually works for a few seconds and then hangs and locks up somewhere in the middle of the `render()` call (never returns, Interval doesn't run again).

Is there some compatibility/flag I'm missing?

[2019-08-14 12:58] Granjow opened #98 "Fix build errors for Node.js v12"
There are compilation errors on Node.js v12 like:

[code]

from functions which have been removed in this version.

An update would be very appreciated!

[2019-08-22 17:47] jimbotel opened #99 "support for RPI 4"
Hello,
I'm trying to use a NeoPixel Diffused 8mm Through-Hole LED: https://www.adafruit.com/product/1734 on a raspberry 4.
I tested some basic functionality ( brightness.js https://github.com/beyondscreen/node-rp ... r/examples ) and it gets stuck upon init() step, providing no clue of what's going on.
However, using the same SD card from the RPI4 in a RPI3B+, everything works fine, so the problem

[2019-08-27 08:25] usefulthink commented on #99
Hi @jimbotel, I'd love to help, but I currently have neither a working setup of a LED-strip nor do I have a raspberry pi 4 around. I am happy to accept a pull-request though. Are you already using the new version (`npm install rpi-ws281x-native@next`, see here: https://github.com/beyondscreen/node-rpi-ws281x-native/tree/v1.x)?

There are some candidates for things that depend on the actual hardwar

[2019-08-27 09:32] jimbotel commented on #99
Hi @usefulthink ,
Thanks for your reply. I reviewed the code and my understanding is that all the required changes had to be implemented in the library rpi_ws281x, so I went for it.  Last weekend I reviewed what was done in pigpio to make it work with the pi4 and introduced some changes in rpi_ws281x code, and it is working now. I'm preparing a pull request to https://github.com/jgarff/rpi_ws281x

[2019-08-27 12:55] usefulthink commented on #99
Oh that sounds very promising. Please let me know when you have the PR ready, I will then update the upstream-dependency and publish it to npm.

[2019-08-27 21:14] jimbotel commented on #99
Hi @usefulthink ,
I forked your repository https://github.com/beyondscreen/rpi_ws281x.git and added the changes to support the pi4, I just issued the pull request.
Initially I thought I had forked from the original https://github.com/jgarff/rpi_ws281x , so I created the pull request against that one, but I got many conflicts and then I realized of my error.
I explain this because I've seen that jg

[2019-08-29 10:01] jimbotel commented on #99
Hi @usefulthink ,
FYI, I compiled/ran the test program in jgarff repo,  https://github.com/jgarff/rpi_ws281x  in my Pi4, and it still interferes with the audio jack, but the behavior is better (I don't get a continuous noise when reproducing audio, just don't get anything :-).
In any case, I think it would be good that you point to jgarff's repo for the underlying rpi_ws281x library to be up to da

[2019-08-31 04:07] JeffJassky commented on #99
@jimbotel do you know when your PR will be in?

In the mean time could you upload your compiled `node-rpi-ws281x-native`? I've got a pi4 LED hat that I'm trying to knock out some testing with.

Thanks!

[2019-08-31 06:27] jimbotel commented on #99
Hi Jeff,
I did the PR a few days ago, it's pending to be "approved". Can you please double check if you can see it?

[2019-08-31 06:59] JeffJassky commented on #99
@jimbotel It looks like yours was #371 - which I believe shows as merged into master and closed.

However, I'm not really sure how to pull it down and build it locally - though I can try.

If I can get that working should rpi-ws281x-native@next work as expected? Thanks for the quick response!

[2019-08-31 09:16] jimbotel commented on #99
Hi @JeffJassky ,
I think there's some confusion here. node-rpi-ws281x-native includes its own fork of https://github.com/jgarff/rpi_ws281x , i.e.  https://github.com/beyondscreen/rpi_ws281x
I did a PR to that fork: https://github.com/beyondscreen/rpi_ws281x/pull/3
Previously I also did a PR to jgarff's (my changes based on beyondscreen's base code), but the code had diverge too much so I had to cl

[2019-08-31 12:51] JeffJassky commented on #99
@jimbotel Thanks for the detailed clarification. I got everything to build - though still no lights.

I ran these steps which are slightly modified from the steps you outlined, but I believe are still correct:

```npm install rpi-ws281x-native@latest```
```git clone --single-branch --branch raspi4support https://github.com/jimbotel/rpi_ws281x.git```
```cp -r rpi_ws281x node_modules/rpi-ws281x-nati

[2019-08-31 13:39] jimbotel commented on #99
Hi @JeffJassky ,

I'm using rpi-ws281x-native indirectly. There's another module that invokes this one and probably is not using all the functions. I touched the underlying rpi_ws281x module, but If I understand correctly, what you found is something that has to be updated in the "parent" pi-ws281x-native. To be more precise, I see in `lib/ws281x-native.js` :

`
     41         if(!socFamily) { re

[2019-08-31 14:18] JeffJassky commented on #99
@jimbotel
Looks like my issue is the contents of my `/proc/cpuinfo`. I have no records for `hardware` or `model name` in mine.

[code]

[2019-09-01 09:46] jimbotel commented on #99
Hi @JeffJassky ,

It's great that you managed to get it working, congratulations!
In my case (I have the *official* raspbian distro from [raspberry.org ](https://www.raspberrypi.org/downloads/raspbian/) and /proc/cpuinfo shows at the end:

[code]
So, as the doc you pointed out mentions:

[code]

Even if rpi 4 has a BCM2711, the "Hardware" section says `BCM2835` , and that's probably the reason why

[2019-09-02 21:20] JeffJassky commented on #99
It looks like this method of determining cpu/hardware is not supported by ARM64 architecture. We may need to update these packages to officially support the ARM64 standards. https://github.com/raspberrypi/linux/issues/2110

[2019-09-02 23:14] usefulthink commented on #99
Hi there, sorry for the delay, I didn't find the time to have a look and write a response.

A few things to note here:

 - I didn't actually intend to continue supporting the current version for much longer, but I didn't get around to do more testing of the prerelease-version of the 1.0.0. However, if the current version is what you are using and that works for you, I am absolutely fine with mergi

[2019-09-03 05:58] jimbotel commented on #99
Hi @usefulthink
Thanks for your comments. Personally I do prefer a less fancy but more stable version of the code, I don't want to push you to a non-fully tested version.  For the same reason I understand your decision to fork rpi_ws281x library.
I did not test rpi-ws281x-native@next , nor the combination of rpi-ws281x-native + current jgarff rpi_ws281x-library, so I would suggest to move forward

[2019-09-10 00:02] JeffJassky opened #100 "Random color corruption of WS2813 using 3B+"
**Board**: Raspberry Pi 3b+
**LEDs**: WS2813
**Pin**: GPIO 12 / PWM0
**dmaNum**: 10
**Number of pixels**: 236

Works as expected 80% of the time.

intermittently, random blocks of pixels (sometimes a single pixel, usually larger blocks of pixels) become a seemingly random color and no longer respond to calling `render()`. The surrounding pixels on the rest of the strip respond properly, but the co

[2019-09-10 00:38] JeffJassky commented on #70
Any update on this?

[2019-09-10 12:55] usefulthink commented on #70
Not sure what you're asking for here.
The brightness-value as specified is directly passed on to the c-library that uses it to scale the rgb-values.

https://github.com/beyondscreen/node-rpi-ws281x-native/blob/28bc61d19c3f92d044be9b79628fa8cbd4abec46/lib/ws281x-native.js#L180-L188

https://github.com/beyondscreen/node-rpi-ws281x-native/blob/28bc61d19c3f92d044be9b79628fa8cbd4abec46/src/rpi-ws281x.c

[2019-09-10 14:48] usefulthink commented on #100
hmm, these problems are always a bit hard to debug without knowing a lot more about the exact setup. The fact that re-initializing the library is not resetting the state of the LEDs hints at this being some sort of hardware- or signal-issue. I suspect you don't have access to an oscilloscope?

 - How did you wire up the backup-data line (BIN) of the LEDs?
 - what voltages are you using for data an

[2019-09-10 17:10] JeffJassky commented on #100
@usefulthink thanks for responding!

I'm using a mosfet-based logic shifter to 5.05v. Circuit here:
![](http://i.imgur.com/JoH0feg.png)

BIN is not wired up at all. Would you suggest trying that?

Data line is very short. Emf cross-talk/noise very unlikely.

Nothing special about where the corrupt segments are. Random every time.

I do have access to an oscilloscope. I don't know how to use it wel

[2019-09-10 17:36] JeffJassky commented on #70
I see. I don't know C well but looking at the `scale` declaration it seems like it's 0-100.

Note that the README `https://github.com/beyondscreen/node-rpi-ws281x-native/blob/master/README.md` says `* @param {Number} brightness the brightness, value from 0 to 255.`. Maybe just the README needs to be updated.

[2019-09-11 13:46] usefulthink commented on #70
you mean `int scale   = (channel->brightness & 0xff) + 1;`? this takes the brightness-value, sets all but the lowest 8 bits to zero and adds 1, resulting in a value-range from 1 to 256.

[2019-09-11 19:36] JeffJassky commented on #70
*facepalm* my bad. Thank you for clarifying. I just tried that out in a C interpreter and realize how it works.

`setBrightness()` takes a value from 0-255.

Thanks, @usefulthink

[2019-09-13 09:58] usefulthink commented on #100
I don't fully understand the weird english translation of the datasheet (http://www.normandled.com/upload/201808/WS2815%20LED%20Datasheet.pdf), but I think I ÷would try to wire the BIN together with DIN.

[2019-09-13 10:05] usefulthink commented on #100
It's very confusing. Some diagrams I see in the image-search show the BIN floating, some have them grounded. According to this, it also doesn't really help explaining what you're seeing:

![image](https://user-images.githubusercontent.com/158792/64854716-97768280-d61e-11e9-8d06-221aa7d31c9f.png)

So, it seems the backup-data line is forwarded from the data-in of the previous LED, so it wouldn't ex

[2019-10-29 09:15] madc opened #101 "Root-less usage with /dev/gpiomem"
I read through #19 and was wondering, if it would now be possible to use `/dev/gpiomem` instead of `/dev/mem`. I found [this discussion](https://raspberrypi.stackexchange.com/a/47022), where it seems to be possible for python.

There are some Node modules as well, that are able to use GPIO without root via `/dev/gpiomem`:
- https://www.npmjs.com/package/rpio2
- https://www.npmjs.com/package/rcswit

[2019-10-29 14:33] usefulthink commented on #101
that discussion doesn't talk about configuring DMA-transfers for spi/pcm/pwm, which is why I believe the gpiomem-device alone might not be enough.

Also, this module doesn't use /dev/mem at all, it is the upstream-dependency (https://github.com/jgarff/rpi_ws281x) that is doing that. If anywhere, it would need to be fixed there..

[2019-10-29 14:33] #101 closed

[2019-10-29 14:38] usefulthink commented on #101
note: it appears that it should be possible to use the SPI-mode without root-privilege: https://github.com/jgarff/rpi_ws281x/pull/257

Not sure though if that commit is already in the latests `@next` release.

[2019-11-05 07:39] jimbotel opened #102 "node-rpi-ws281x-native linked to an old version of your fork of rpi_ws281 lib"
Hi @usefulthink ,

It looks like node-rpi-ws281x-native is linked to an old version of your fork of  rpi_ws281 lib.
See:   https://github.com/beyondscreen/node-rpi-ws281x-native/tree/master/src
so the changes introduced for RPI4 support are not effective in node-rpi-ws281x-native.
Can you please take a look at that?
Thanks!

Jaime.

[2019-11-07 11:44] usefulthink commented on #102
this is probably true, haven't updated it in a while. Are you using the rpi-ws281x-native@next version? The older version will very likely not receive any further updates.

[2019-11-07 12:47] jimbotel commented on #102
Hi @usefulthink . No, I'm using v0.9.0 . I didn't test @next (this is currently out of my control, I'm working with another repository that makes use of this one).
I think @JeffJassky tested @next and he was not able to complete the build.

[2019-11-10 01:26] JeffJassky commented on #102
@jimbotel it has been quite a white since testing. I do not recall what the issue was at the time. It's possible the issue may have been resolved already and it's possible the issue may have been my environment. It should be tested again.

[2019-11-21 04:04] ecdeveloper commented on #67
How are the things going with this rc? Any chance we get that merged/released any time soon?

[2019-12-17 18:59] riccardolardi commented on #76
Model a52082 is not in rpi-version

[2019-12-19 10:51] riccardolardi commented on #76
rpi-version updated with https://github.com/ivsgroup/rpi-version/pull/9

[2020-01-01 11:26] VTsuprov commented on #98
Is it correct that there is no way to install the library with the latest version on NodeJS (>12.0)? At least I have tried all different forks and all ways of installing the library. Any time it was a fail with compilation

[2020-03-10 09:28] and-who commented on #97
I have a similar behavior on the Raspberry Pi 3 B+.
Perhaps this has nothing to do with the Pi Zero W

[2020-03-12 02:29] cinderblock commented on #97
Oh! That might be it!

It's been a minute and I went a different route. I'll try this out again soon :)

[2020-05-01 11:11] ChrisVeigl opened #104 "Build errors on RaspberryPi4"
Hi!
I get lots of build errors when trying to  `npm install rpi-ws281x-native` on a Raspi4 (Raspbian buster 4.19.97). (node-gyp rebuild fails at the nan module.)

I tried different versions of node (10.0.0, 12.13.1, 13.12.0, 14.1.0).
Any ideas how to deal with this?

[2020-05-04 09:07] lubomirmolin commented on #104
Try my fork, I used to have similar issues. https://github.com/lubomirmolin/rpi-ws281x-nodejs

[2020-05-05 21:56] ChrisVeigl commented on #104
thank you for your reply!
i tried the npm i - unfortunately with the same errors from node-gyp.
i attach the errorlog in case you want to take a look!

[errorlog.txt](https://github.com/beyondscreen/node-rpi-ws281x-native/files/4583806/errorlog.txt)

[2020-05-08 18:04] lubomirmolin commented on #104
Are you trying to install it on Windows machine? I know I had some issues with the platform

[2020-05-09 10:52] ChrisVeigl commented on #104
no no - it's clear that this couldn't work on a Windows machine ...
I tried to install on a RaspberryPi 4 with a recent version of Raspian Buster.

[2020-05-12 16:54] SimonGAndrews commented on #104
hi,
   Im getting the same error log as above in this situation.  Also for info
     gyp info using node-gyp@6.1.0
     gyp info using node@12.16.2 | linux | arm
     gyp info find Python using Python version 3.7.3 found at "/usr/bin/python3"
    (tried python v 2 also but got same error)
 all on rasp pi 3B.

I note this discussion on at least the first error (not warning).
https://stackoverflow.c

[2020-06-18 22:25] TheMightyPilot commented on #104
any update for this issue and how to get this module working?

[2020-06-18 22:31] SimonGAndrews commented on #104
https://github.com/TheMightyPilot ,  I resorted to going back to node version 10.21.0 .  There are a few libraries including this one that are failing beyond V10.

[2020-06-18 22:34] SimonGAndrews commented on #104
oh and also (and prob more significantly) went for this library instead "rpi-ws281x" of this one.

[2020-06-18 22:59] TheMightyPilot commented on #104
Thanks for your reply @SimonGAndrews

I've used NVM to switch to use node 10.21.0 and npm installed the rpi-ws281x package, however it seems running the test I get the same type of error as I did with this ws281x-native:
[code]

[2020-06-18 23:36] SimonGAndrews commented on #104
to be honest MightyPilot , I got lost with this type of error and went in circles with node versions and reinstalls of node and the the packages I am using.    The table https://nodejs.org/en/download/releases/   is a usefull reference to check node version against compatible NODE_MODULE_VERSION.   It looks from the error you've got that elements of node > 10.72  (or installed packages) are still

[2020-08-05 08:18] MrBim commented on #99
I just tried to run some code using my pi4(8Gb) (the same code ran fine yesterday on a pi2B+) and got the following error

[rpi-ws281x-native] Could not verify raspberry-pi version. If this is wrong and you are running this on a raspberry-pi, please file a bug-report at https://github.com/beyondscreen/node-rpi-ws281x-native/issues A non-functional stub of this modules interface will be returned.'

[2020-08-06 15:55] jimbotel commented on #99
Hi @MrBim ,

Can you please try with this one and let me know if it works fine on your pi4(8GB) ?

git clone --single-branch --branch raspi4support https://github.com/jimbotel/rpi_ws281x.git

If it does, I'll do a PR to beyondscreen main branch with the changes.

Thanks!

[2020-08-07 14:30] MrBim commented on #99
Thank you for such a quick response, I pulled the repo, but I am using js to do everything in my current project.

I am super rusty with my python so it may take me a couple of days to get this tested.

In the meantime, I have managed to resurrect my work by adding the board as an extra case to https://github.com/beyondscreen/node-rpi-ws281x-native/blob/master/lib/ws281x-native.js  (line 46/47)

[2020-08-07 16:43] jimbotel commented on #99
Hi @MrBim ,
You can test basic functionality by compiling the code from  rpi_ws281x directory (scons) and -assuming it is successful- then execute:
   sudo ./test

[2020-08-08 22:58] ckirmse commented on #98
the latest version, 0.10, works with node 12 and higher. This issue should be resolved.

[2020-08-08 22:59] ckirmse commented on #102
The latest version, 0.10, no longer uses a fork of rpi-ws281x lib, so it should work fine now. This issue should be resolved.

[2020-08-08 23:00] ckirmse commented on #104
The latest version of this, 0.10, should work fine with node 12 and higher. This issue should be resolved now.

[2020-08-09 05:17] Granjow commented on #98
Cool, thank you!

[2020-08-09 05:17] #98 closed

[2020-08-09 18:32] jimbotel commented on #102
hi @ckirmse . Thanks for letting me know, I didn't know that. I'll give it a try

[2020-08-20 08:50] westerxddd opened #107 "Raspberry Pi 4 bcm2711"
I had to add: **case 'bcm2711': return 1;**
to: **lib/ws281x-native.js**

[code]

[2020-08-20 13:46] CaskAle commented on #107
I discovered the same and found that the same case statement with a return of 2 rather than 1 works as well.  I was not able to determine what the return value is used for??

[2020-08-20 14:01] westerxddd commented on #107
@CaskAle me too.

So i suspect this is only to limit script only for raspberry use.

[2020-08-25 16:53] WouterGritter opened #109 "RGBW (RGB + White) support"
I cannot find this anywhere on the github page. Is there support for RGB + W LEDs? If so, how can this be enabled?

[2020-09-03 18:41] WouterGritter commented on #109
Nevermind, this fork of a fork works stably on a raspberry pi B with nodejs 10! https://github.com/DaVarga/node-rpi-sk6812-native

[2020-09-03 18:41] #109 closed

[2020-09-20 23:13] Will-Mann-16 opened #110 "(Homebridge) TypeError: Init Error"
Hello everyone, I was trying to setup this package on my RP4 with HomeBridge to see if I could control my LED strip from my iPhone. No luck so far, as I'm getting this error:
`[9/21/2020, 00:12:13] [Lightstrip] Initializing Lightstrip accessory...
Can't open /dev/mem: Operation not permitted
error initializing -5 mmap() failed
[9/21/2020, 00:12:13] TypeError: Init Error
    at EventEmitter.ws281x.

[2020-09-20 23:14] Will-Mann-16 commented on #110
If anyone wants it, my code for the Accessory Controller for HomeBridge - pendant on a solution:
`const colorsys = require('colorsys');

const LED_COUNT = 300;

module.exports = api => {
    api.registerAccessory('Lightstrip', LightstripAccessory);
}

function rgb2Int(r, g, b) {
    return ((r & 0xff) << 16) + ((g & 0xff) << 8) + (b & 0xff);
  }

class LightstripAccessory{
    constructor(log, con

[2020-09-21 22:36] dJPoida commented on #107
I also had to add this line on a Raspberry Pi 4. Does the return value perhaps describe the device GPIO pinout?

[2020-10-18 06:03] nduc commented on #104
Master branch is still on version 0.9 and it's not building for me with Node 12.  Where can I get 0.10?

[2020-11-01 20:08] Deboracgs commented on #107
it's really works! thank you!

[2020-11-21 16:36] TJPhil opened #112 "[rpi-ws281x-native] request to file a bug-report"
Sorry but I don't know what is happing and how to resolve
Thanks for your response and explanation - quite new to this environment.
Running the IBM TJBOT project and encountering quite some problems.
Got the camera test running as a first.
But at run get below message.
Now trying to run the rest of the tests !

[rpi-ws281x-native] Could not verify raspberry-pi version. If this is wrong and you are

[2020-12-04 13:15] #112 closed

[2020-12-04 13:16] TJPhil commented on #112
Instead of a Raspberry 4 I used a Raspberry 3 - seems to be working fine now.

[2020-12-28 10:32] gbkwiatt opened #113 "Initialize with different options"
I am having difficulties trying to make it work.
I used C library previously with settings for my stripe:
[code]
That was working fine in Cpp

No I am trying to convert that to this library but I can't make it to work.
I can't test it on default gpio 18 because I broke it ;)

how do you properly set it up ?  Tried that:
[code]

and that:
[code]

[2020-12-28 10:47] gbkwiatt opened #114 "Can't build latest rpi-ws281x-native@next on node 14.x"
I am desperate to make this library work on my RPI4.

I've noticed that main repo (master) is not the latest if I am not mistaken.

All options I need are in 1.x branch, so I tried to install that with `npm install rpi-ws281x-native@next`
But getting errors when building:
`../src/rpi-ws281x.cc:55:41: error: no matching function for call to ‘v8::Value::Int32Value()’`

I've seen similar issue, that

[2020-12-28 11:15] gbkwiatt commented on #114
I think that's no longer valid.

[2020-12-28 11:15] #114 closed

[2020-12-28 11:44] gbkwiatt commented on #104
Currently it still doesn't work on Node 14.

Well, 0.10 works fine, however any other 1.x version gives an error on build.

[2020-12-28 13:17] gbkwiatt commented on #113
OK I've made v1.x  work with node14.

Had to update `"nan": "^2.14.2",` to the latest in package.json

And because some functions are deprecated I had to modify `rpi-ws281x.cc` as below.
Then `npm install` works, and I was amble to initilize LEDs like this (and use channel 1 for GPIO 19):

[code]

[code]

[2021-01-07 18:25] david-zimmerman opened #116 "[rpi-ws281x-native] Could not verify raspberry-pi version."
![image](https://user-images.githubusercontent.com/59617249/103929752-c2c29200-50eb-11eb-8659-42f4aadc4048.png)

[2021-02-02 20:03] christopher4lis commented on #63
Just tested this on my end—can't seem to get it working even with the excluded pins:

[code]

Bottom, library code works as expected stand-alone, but not with the board initialization. Any ideas?

[2021-02-23 19:02] #75 closed

[2021-03-21 11:23] Toshimonster opened #119 "[v1.x] Fails install / build"
Build fails, seems to be mainly based upon the error:
[code]
Perhaps this is a node versioning error?

[2021-03-21 11:26] Toshimonster commented on #119
Also, realistically, it would be beneficial to merge v1.x into master, and leave the old master as legacy. The current branch is vastly inferior, and all activity is being promoted onto that branch instead of the v1.x one.

[2021-03-21 11:32] Toshimonster commented on #119
This seems to be based on node versioning; node 12 fails, node 10 succeeds

[2021-03-21 17:07] Toshimonster commented on #119
This is solved with the https://github.com/beyondscreen/node-rpi-ws281x-native/pull/115 pull.

[2021-03-21 17:07] #119 closed

[2021-03-21 17:11] Toshimonster opened #120 "[v1.x] config issue surrounding LED CHANNEL 1 bleeding;"
Configs seem volatile, and bleeds onto led channel 1. As such,
[code]
will result in channel 1 giving nothing but the first 10 pixels, and
[code]
works fine. In addition, it seems to be the lowest of the two.
In addition, this seems to happen with brightness too:
[code]
will show nothing.
I've had a look, and on the javascript side of things, the parameters are maintained. This seems to be an issu

[2021-03-22 10:30] usefulthink commented on #120
Thanks for the report, I never actually worked with multiple LED strips, so that is quite valuable.
But I think this is something in the upstream-library. This part of the code shouldn't be causing this:

https://github.com/beyondscreen/node-rpi-ws281x-native/blob/487204d64f273801a69b1eb45d2a93f2ffcbad39/src/rpi-ws281x.cc#L111-L131

Can you maybe try to do the same with the upstream-library (https

[2021-03-23 08:23] aqmattil opened #121 "RPi3 B+ Rev 1.3 throws 'hardware revision not supported' error. Everything works on RPi3 B Rev 1.2"
I’m running rpi-ws281-native@1.0.0-alpha1 (I need to control two led strips with one device) on two 'almost' identical Raspberries, with the only difference being the revision number. On the older version everything works, but with the newer one I get the ‘hardware revision not supported’ error.

**Everything works**

[code]

Node 8.17, Raspbian Jessie

**Hardware revision not supported**

[code]

[2021-03-23 12:48] aqmattil commented on #121
I managed to sort this out, so I'm posting this if anyone comes up with the same issue. I'm running this in a Docker container, and managed to sort this out by doing the following in my Dockerfile:

[code]

[2021-03-23 12:48] #121 closed

[2021-03-23 13:52] usefulthink commented on #121
well, the good news is that I just did basically the same thing, including some other smaller changes. It's now up on npm with the latest version of the upstream-library. Install via `npm install rpi-ws281x-native@next` (installed version should be v1.0.0-alpha2).

I would be very glad if you could test this for me really quick as I currently don't have a working setup around...

[2021-03-23 14:05] usefulthink commented on #120
I think I found the issue, more or less by accident: https://github.com/beyondscreen/node-rpi-ws281x-native/blob/487204d64f273801a69b1eb45d2a93f2ffcbad39/src/rpi-ws281x.cc#L182-L184

I published a fix with the latest version, `1.0.0-alpha3` (49c7018da34df5cd8f9d653ba0f17f8141365327).

[2021-03-23 14:05] #120 closed

[2021-03-24 11:08] aqmattil commented on #121
Hi, thanks for letting me know. I ran a quick test:

package.json
`    "rpi-ws281x-native": "1.0.0-alpha2",
`

and removed the git clone part from my Dockerfile and used straight npm install instead.

I can confirm that this works.

[2021-03-24 14:03] usefulthink commented on #121
Excellent, thanks a lot. (and great to hear it works) :D

Have fun!

[2021-03-24 14:04] usefulthink commented on #121
(as a sidenote, I decided it's about time to finally release the 1.0-version, which is now what you'll get when you just install without a release-tag (or with `npm i rpi-ws281x-native@latest`)

[2021-04-13 06:10] DJHoltkamp commented on #104
I cannot get this to build due to it not being able to find nan.h. I have tried 8, 10, and 12.

[2021-04-13 19:41] usefulthink commented on #104
@DJHoltkamp Thanks for the report, I think I might have [found a problem](https://github.com/beyondscreen/node-rpi-ws281x-native/commit/f9c245c7ae12f5413586fb1d545f0338d96d02f5) with the latest release that could have caused that. Would you mind testing again with the version 1.0.1 I just released?

[2021-04-14 04:03] DJHoltkamp commented on #104
@usefulthink - So doing npm install rpi-ws281x-native@1.0.1, I now fail with the error "napi.h: No such file or directory". So it fixed the other problem, but this still remains or created a new issue.

[2021-04-14 11:53] usefulthink commented on #104
Thanks! So I'm wondering now, why is it even including napi.h? That shouldn't be required.
I should probably reactivate a raspberry here so I can test it myself and don't have to rely people like you to do this 😅

@DJHoltkamp If you don't mind, can you do that again with version 1.0.2? I removed the requirement for napi.h and rewrote the module-initializer. Will probably gat my raspberry back to r

[2021-04-15 05:17] DJHoltkamp commented on #104
@usefulthink  Well, I got to a whole stack of error now, but the first one is:
../src/rpi-ws281x.cc:227:15: error: ‘New’ was not declared in this scope
   Set(target, New<String>("init").ToLocalChecked(),

[2021-04-15 14:39] usefulthink commented on #104
sorry about that, I hope that I can get a PI back to running order in the next days so I can debug this myself. It's probably just something small, but I don't want to continue like this.

[2021-04-15 15:01] usefulthink commented on #104
Ok, so I figured that as it's completely broken now anyway I can also give that another round of blind deployment :D
I think I just forgot to add the namespace-qualifier for Nan::New and Nan::Set.

I published another version if you still like to try it, otherwise you can probably also use this as an alternative: https://www.npmjs.com/package/rpi-ws281x

[2021-04-15 16:22] DJHoltkamp commented on #104
Ok, thanks! I imagine this will be an easy fix once you can actually try natively compiling it.

[2021-04-26 04:56] DJHoltkamp commented on #104
Sorry to ping this again, but that alternate package you posted does not support some brightness features I need. Did this issue of not being able to compile ever get fixed? I just tried compiling again and still got a new batch of errors about GetFunction and setBrightness..

[2021-04-29 16:48] Morenju1363 opened #122 "bindings.setParam error (ws281x-native.js)"

[2021-06-14 03:51] jpacora commented on #104
Any news? I need to run this on a RPI 3B+

[2021-07-18 16:59] chrisgonzales commented on #104
Was curious if anything in the works for this. Starting a project and have a rpi 3b+ i was testing with fresh rasp pi os lite, and nodejs 14. I'm getting an error also that seems related to the GetFunction in the same area of the most recent commit. Saw this user make a comment about getting something of his working but the NODE_MODULE implementation was different.

https://github.com/beyondscreen

[2021-08-04 21:04] psy0rz commented on #104
same problem here, but with a raspberry Pi Zero and Nodejs 14, on raspbian 10

[2021-08-04 22:09] psy0rz commented on #104
I think i fixed it, the question is how did it work at all before? This is the diff:
[code]

So GetFunction needed the Nan:: namespace, makes sense.

But some bindings where pointing to non-existing functions (reset and setbrightness), while others where missing. (set*)

Now it compiles and functions in my setup. (raspbian 10 on pi zero with nodejs 14)

[2021-08-05 19:49] bweis opened #123 "MAX_CHANNELS set to 2?"
Is there a reason that the maximum number of channels is only 2?  I haven't tested it with more yet, figured I should ask before I move forward with testing.

Thanks!

[2021-08-06 09:01] psy0rz commented on #123
Its inherit to this system, 2 is the max. But we're working on an SMI version that can do 8 or 16 channels parallel.

[2021-08-06 14:06] bweis commented on #123
I see.  Perhaps you could help me out.  Is there an avenue for controlling 4 independent light strips from 4 different GPIO pins on the raspberry pi?

I would love to not have to string all 4 of them together... 😅

[2021-08-08 19:33] psy0rz commented on #123
Yes, the only way is via something called SMI, i'm working on it currently:

https://github.com/psy0rz/rpi-ws281x-smi

[2021-08-16 11:17] rip3rs commented on #104
any updates on this PR? I to am having some issue on build.

[code]

[2021-08-22 04:54] DJHoltkamp commented on #104
Additionally would love to see a PR which fixes this issue. Seems to make the project unusable.

[2021-08-22 13:36] FeBe95 commented on #104
I got it working by changing the file `rpi-ws281x.cc` according to the comment by @psy0rz (see https://github.com/beyondscreen/node-rpi-ws281x-native/issues/104#issuecomment-893007649):

Unfortunatly the `setBrightness()` function was essential for my use case and sadly isn't available anymore. What's the reason for this change? Did the library [rpi_ws281x](https://github.com/jgarff/rpi_ws281x) by

[2021-08-22 15:11] DJHoltkamp commented on #104
Wow, this is very disappointing to hear. I have another library working, but I specifically wanted to get this library working because I could find no other replacement that allowed me to set the brightness of the LEDs. If you or anyone else knows how to fix this or an alternate library, please let me know.

[2021-08-22 15:19] gbkwiatt commented on #104
I've made it work with node 14, on 1.x branch and If I remember correctly I used set Brightness, However you can write your own method for setBrightness, pretty much just add multiplier  for R G B and check for max 255 and lowest. 0 https://github.com/gbkwiatt/node-rpi-ws281x-native

This is what I've done with it
https://www.youtube.com/watch?v=kDIB8_dzaEI

[2021-08-22 19:41] FeBe95 commented on #104
Thanks for the code examples. I will probably end up writing my own `setBrightness` method now as well. I need to have it separate from the normal `render` method as it would conflict with it otherwise. I hooked up a lux sensor in order to dim all LEDs simultaneously but independently from the selected colors. It might need some tweaking and hacking here and there now.
A global `setBrightness` met

[2021-08-22 20:18] DJHoltkamp commented on #104
This is somewhat helpful, but perhaps this library or this protocol simply does not support what I thought it did. I thought that this supported using brightness within the color array itself as a 4th channel to say how much power actually goes to the LED to produce that color. For instance, if I wanted it to be fully red, but very dim, I could specify this.

You would then push this through the l

[2021-08-22 20:51] FeBe95 commented on #104
Okay, I think a found a way to change the global brightness!

[code]

This seems to work just fine with the new 1.x version of this project.

[2021-08-22 22:49] DJHoltkamp commented on #104
Ok, this entire time, I have been chasing the wrong issue. I assumed the lack of brightness settings was not letting me get smooth linear color interpolation when trying to make a smooth animation between lights on my strip. This is why I thought your brightness solution wasn't working. When I tried to interpolate between the LED's to animate, it would have a bit of flashing where it would get bri

[2021-08-23 07:22] gbkwiatt commented on #104
Ah fair maybe I should use gamma correction. I do use color lerp / interpolation and it works pretty well.

Deffinitely library could be maintained, it's pretty cool project and since i proficient in JS and pretty much everything can be ported from C to node, sky is the limit and I love it.

[2021-08-24 17:58] psy0rz commented on #104
Please keep an eye on https://github.com/psy0rz/rpi-ws281x-smi

It allows you to control 16 ledstrips in parallel on all raspberry pi types.

[2021-09-04 23:28] chrisgwgreen opened #125 "Can't install on Pi Zero with Node 16.6.2."
Getting the following error installing on Raspberry Pi OS Lite for Zero with Node 16.6.2.

...

[2021-10-06 15:42] mukuljha16 commented on #125
Hi @chrisgwgreen,  I'm also having the same issue, did you managed to get it fixed?
Thanks!

[2021-10-21 07:29] anzbert commented on #125
i have the same issue on a pi4. compilation errors from node-gyp

[2021-12-15 22:07] westonmiller commented on #123
I'm trying to add a channel to my Christmas lights setup. Is it possible to just swap out the `node-rpi-ws281x-native` with the smi version?  I'm not seeing much in the readme.

[2021-12-16 13:02] psy0rz commented on #123
Nope its not a drop in repacement.

sorry you have to look in the sources to see how to use it for now.

[2021-12-19 00:29] westonmiller commented on #123
Ok, Thank you.  Do you know have to convert an RGB ws2812 signal to a ws2811.  I tried just sending it GRB instead, which mostly works, but the blues look more purple.  (This is related to the MAX CHANNEL limitation as I'm having to add a different type of strand to the end of a ws2812b strand)?

[2021-12-20 11:07] psy0rz commented on #123
no sorry

[2022-02-09 22:05] PurnimaNaik opened #126 "Has anyone tried running a gif using this library?"
I am trying to run an animation sequence that does not rely on setInterval or setTimeout since they are not reliable. I want to just plug in a gif and have it render for the duration of its animation. Is this possible?

[2022-02-12 17:50] parrfolio opened #127 "Raspberry Pi 4 Model B Rev 1.4 - Hardware not Supported Issue"
I'm currently facing this issue in my node app. Running v17.4.0 and NPM 8.3.1 on a Raspberry Pi 4 Model B Rev 1.4. I'm having a difficult time getting past the bindings error. Is this library supported with this version of Raspi?

[code]

Note, when I run rpi-ws281x-python library examples my LEDs light right up. No errors. Only seeing errors in the Node JS implementation.

Sure could use some hel

[2022-02-15 22:21] parrfolio commented on #127
Fixed this for Pi 4 Model B Rev 14. on Node 17.5 by

1. Using https://github.com/gbkwiatt/node-rpi-ws281x-native#readme fork
2. Then reinstalling rpi_ws281x library by following these instructions here https://github.com/ibmtjbot/tjbot/issues/158#issue-574903273

This combination of fork plus updating rpi_ws281x worked for me! Sharing for those struggling to use this library as I did.

More detail

[2022-07-24 00:54] tommyzat opened #128 "Slow render performance"
Hello!

I'm using this with node.js with the npm package.

The render command is dissapointingly slow... Is there any way to make it faster? I can't make the animations run as I would like to.

[2022-09-11 23:17] marcopelegrini opened #129 "Segmentation fault while trying to compile using python@3.10.5 node-gyp@9.0.0 and node@16.17.0"
This is an OpenWRT 22.03 installation. I've done this before with success in an older version of OpenWRT, and I'm not sure what could be causing this issue.

Any tips are appreciated

`Linux OpenWrt 5.10.138 #0 SMP Sat Sep 3 02:55:34 2022 aarch64 GNU/Linux`

[code]

[2022-09-20 13:29] dimzeta opened #130 "Raspberry Pi 4 Model B Rev 1.5: Hardware revision is not supported"
I am running successfully my node app on Raspberry 3 and Raspberry Pi 4 Rev 1.4, but I have this error on Raspberry Pi 4 Rev 1.5:

[code]

[2022-09-21 13:41] dimzeta commented on #130
I followed the steps from https://github.com/beyondscreen/node-rpi-ws281x-native/issues/127 and now it is working well.

I didn't have to use @gbkwiatt's fork, so I just did:

[code]

[2022-09-22 05:55] ayashjorden opened #131 "Consider exporting more types"
Hi @usefulthink @TimPietrusky ,
Using this lib is so easy, so thank you!

What do you think about exporting the StripType, Channel, ChannelOptions?
Also, as I'm using this lib for API micro-service, how about adding `addChannel` and `removeChannel` methods?

Happy to submit PRs, but lets gather some feedback first.
TY!

[2022-10-04 01:16] ngrealish commented on #113
I am trying 19 on channel 1 with no results unfortunately.  I've used your update to the rpi-ws281x.cc with no success.  Any other hints or thoughts on this one?  I cannot use 13.  18 is working for me, so I'd like to use 19 as a second set.

[2022-10-25 14:30] JulienPlume opened #132 "undefined"
sorry miss click :s you can delete the issue

[2022-10-25 14:34] #132 closed